@media (max-width: 575.98px) {
  /*nav top*/
  nav {
    background-color: black;
    margin: 0;
    padding: 0;
    border-top: 2px solid white;
  }

  /*Buttons top*/
  .bttn-top {
    width: 3rem !important;
    height: 3rem !important;
    margin: 0.5rem;
  }

  .bttn-top span {
    font-size: 10px;
  }

  /*nav top*/
  /*sub-nav*/
  .sub-nav {
    background-color: black;
    font-size: 0.8rem;
    color: white;

  }

  .sub-nav-right {
    background-color: rgb(50, 80, 110);
  }

  .bttn-top-select {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 1.5em;
    height: 1.5em;
  }

  .bttn-top-select img {
    width: 0.8em;
    height: 0.8em;
  }

  /*sub-nav*/

}


@media (min-width: 576px) and (max-width: 767.98px) {
  /*nav top*/
  nav {
    background-color: black;
    margin: 0;
    padding: 0;
    border-top: 2px solid white;
  }

  /*Buttons top*/
  .bttn-top {
    width: 50px !important;
    height: 45px !important;
    margin: 0.5rem;
  }

  .bttn-top span {
    font-size: 10px;
  }

  /*nav top*/
  /*sub-nav*/
  .sub-nav {
    background-color: black;
    font-size: 1rem;
    color: white;

  }

  .sub-nav-right {
    background-color: rgb(50, 80, 110);
  }

  .bttn-top-select {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 1.5em;
    height: 1.5em;
  }

  .bttn-top-select img {
    width: 0.8em;
    height: 0.8em;
  }

  /*sub-nav*/
}


@media (min-width: 768px) and (max-width: 991.98px) {
  /*nav top*/
  nav {
    background-color: black;
    margin: 0;
    padding: 0;
    border-top: 2px solid white;
  }

  /*Buttons top*/
  .bttn-top {
    width: 50px !important;
    height: 45px !important;
    margin: 0.5rem;
  }

  .bttn-top span {
    font-size: 10px;
  }

  /*nav top*/
  /*sub-nav*/
  .sub-nav {
    background-color: black;
    font-size: 1rem;
    color: white;

  }

  .sub-nav-right {
    background-color: rgb(50, 80, 110);
  }

  .bttn-top-select {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 1.5em;
    height: 1.5em;
  }

  .bttn-top-select img {
    width: 0.8em;
    height: 0.8em;
  }

  /*sub-nav*/
}


@media (min-width: 992px) and (max-width: 1199.98px) {
  /*nav top*/
  nav {
    background-color: black;
    margin: 0;
    padding: 0;
    border-top: 2px solid white;
  }

  /*Buttons top*/
  .bttn-top {
    width: 50px !important;
    height: 45px !important;
    margin: 0.5rem;
  }

  .bttn-top span {
    font-size: 10px;
  }

  /*nav top*/
  /*sub-nav*/
  .sub-nav {
    background-color: black;
    font-size: 1rem;
    color: white;

  }

  .sub-nav-right {
    background-color: rgb(50, 80, 110);
  }

  .bttn-top-select {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 1.5em;
    height: 1.5em;
  }

  .bttn-top-select img {
    width: 0.8em;
    height: 0.8em;
  }

  /*sub-nav*/
}


@media (min-width: 1200px) {
  /*nav top*/
  nav {
    background-color: black;
    margin: 0;
    padding: 0;
    border-top: 2px solid white;
  }

  /*Buttons top*/
  .bttn-top {
    width: 50px !important;
    height: 45px !important;
    margin: 0.5rem;
  }

  .bttn-top span {
    font-size: 10px;
  }

  /*nav top*/
  /*sub-nav*/
  .sub-nav {
    background-color: black;
    font-size: 1rem;
    color: white;

  }

  .sub-nav-right {
    background-color: rgb(50, 80, 110);
  }

  .bttn-top-select {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 1.5em;
    height: 1.5em;
  }

  .bttn-top-select img {
    width: 0.8em;
    height: 0.8em;
  }

  /*sub-nav*/
}



