<nav class=" ">

  <div class="d-flex justify-content-between">
    <div class="d-flex justify-content-around ">
      <button type="button"
              class="btn btn-dark bttn-top d-flex flex-column align-items-center">

        <i class="material-icons">search</i>
        <span>Search</span>
      </button>

      <button type="button" class="btn btn-dark bttn-top d-flex flex-column align-items-center">
        <i class="material-icons">notifications</i>
        <span>Log</span>
      </button>

      <button type="button" class="btn btn-dark bttn-top d-flex flex-column align-items-center">
        <i class="material-icons">settings</i>
        <span>Settings</span>
      </button>

      <button type="button" class="btn btn-dark bttn-top d-flex flex-column align-items-center">
        <i class="material-icons">list</i>
        <span>Options</span>
      </button>
    </div>

    <button type="button" class="btn btn-dark bttn-top d-flex flex-column align-items-center">
      <i class="material-icons">exit_to_app</i>
      <span>LogOut</span>
    </button>
  </div>

</nav>


<!-- sub nav -->
<div class=" sub-nav ">
  <!--<div class="col-3 p-1 text-center ">
    Mail Box
  </div>-->
  <div class=" sub-nav-right">
    <div class="row">
      <div class="col-1 p-1"></div>
      <div class="col-2 p-1">Inbox(37)</div>
      <div class="col-1 p-1">Edit</div>
      <div class="col-5 text-center p-1 removeDiv"> 20 of 68</div>
      <div class="col-1 p-1">
        <button type="button" class="btn btn-dark bttn-top-select d-flex  justify-content-center">
          <i class="material-icons">
            arrow_drop_up
          </i>
        </button>
      </div>
      <div class="col-1 p-1">
        <button type="button" class="btn btn-dark bttn-top-select d-flex  justify-content-center">
          <i class="material-icons">
            arrow_drop_down
          </i>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- sub nav -->


