<header class="container-fluid">

  <div class="row  d-flex justify-content-around ">
    <div class="col-md-2 ">
      <img src="assets/image/LF28.png">
    </div>

    <div class="col-md-4 d-flex justify-content align-items-center">
      <p class="h5" id="logo-text"> Your personal <br>La Femme Marketing<br>
        Affiliate Account</p>
    </div>


    <div class="col-md-2">

    </div>

    <div class="col-md-4">
      <div class="row">
        <div class="col-10 border-right">
          <p>Marketing Affiliate Program</p>
        </div>
        <div class="col-2"></div>

      </div>
      <div class="row border-top">
        <div class="col-10 border-right">
          <p class="h3 ">La Femme</p>
        </div>
        <div class="col-2"></div>

      </div>

    </div>

  </div>
  <div class="row p-0 d-flex justify-content-center border-bottom">
    <h4>Create an Account</h4>
  </div>

</header>
