<nav class="row">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/mailBox">Mailbox</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="#">Search</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="#">Contacts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="#">Viewed me</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/manageProfilr">Manage Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/profile">View Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="#">Likes Inbox</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/creditPlan">Buy Credits</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/travelPlan">Travel Plan</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" routerLink="#">Virtual Office</a>
    </li>
  </ul>
</nav>
