<div class="body-back">
  <div class="container body-width">
    <div class="sticky-top m-0 p-0">
      <app-about-us-header></app-about-us-header>
      <app-about-us-navbar></app-about-us-navbar>
    </div>

    <main class="row p-2">
      <div class="container">
        <div class="row justify-content-center">
          <h3 class="h6">ABOUT US</h3>
        </div>
        <div class="row justify-content-center">
          <h3 class="h6 ">PRIVATE AFFAIRS CLUB</h3>
        </div>
        <div class="row d-flex justify-content-around">
          <img class="three-img img-thumbnail" src="assets/image/LF38.jpg" alt="">
          <img class="three-img img-thumbnail hidden" src="assets/image/LF39.jpg" alt="">
          <img class="three-img img-thumbnail" src="assets/image/LF19.jpg" alt="">
        </div>
      </div>
      <div class=" p-2 text-justify">
        <p> Le Femme provides you with a place to meet fun, sexy, interesting men and women who are seeking the ideal
          partner. They understand the value of discretion and want to explore each other’s wildest fantasies. </p>
        <p> If you like someone in our site it will be easy to become emotionally connected; then you meet and live your
          fantasy with desire, pasion and excitement.</p>
        <p> At Le Femme you will find people looking for casual hookups who may already be in an open or committed
          relationship. Millions of people around the world looking for various relationships, all of which we provide
          here at Le Femme. Remember, discretion is the key. Fulfill any and all of your secret desires here. Find your
          perfect relationship and let your passion and wildest dreams come true!</p>
      </div>

      <div class="container d-flex justify-content-around">
        <img class="two-img img-thumbnail" src="assets/image/LF36.jpg" alt="">
        <img class="two-img img-thumbnail" src="assets/image/LF35.jpg" alt="">

      </div>

      <div class=" p-2 text-justify">
        <p>Le Femme uses an unique algorithm called the Compatibility Matching System (CMS). It takes into account
          exactly what you want through your selected preferences made when you sign up. It will monitor your on-site
          habits and present potential partners based on this information. .</p>
        <p>This site will announce your travel plans to the local members of your destination. Update your travel
          calendar and Le Femme will notify members of your indicated destination of your arrival.</p>

        <p>With the majority of users looking for interaction that is sexual in nature, La Femme caters to over eight
          relationship types. Browse through our options and choose the relationship you desire most. Here you can
          expect to find someone that satisfies all of your needs and desires. Secret passions ignite the circuits of
          our highest potential to enjoy our lives as we see it. Life is too short, you should enjoy every moment of
          it!</p>
      </div>

    </main>
    <app-about-us-footer></app-about-us-footer>
  </div>
</div>
