
/* main */
main {
  color: rgb(25, 26, 39);
  background-color: white;
  padding: 5px;
}
main p{
  font-size: 0.8rem;
}
.three-img {
  height: 10rem;


}

.two-img {
  height: 13em;
  margin: 1em 0em 1em 0em;
}



