<div class="body-back">
  <div class="container body-width">
    <div class="sticky-top">
      <header class=" sticky-top row d-flex justify-content-around">

        <div class="col-md-5 ">
          <img src="assets/image/LF289.png" class="rounded float-left">
          <p class="h6 mt-1 " id="logo-text"> Fantasies.......<br>Everybody has One!</p>
        </div>

        <div class="col-md-5 p-3">
          <p class="text-left "> If you don't want to awake your desires...<br> If you don't want to be seduced.... </p>
          <p class="text-right font-italic"> Please, please....<br> Look elsewhere!</p>
        </div>

        <div class="col-md-2 pt-1">
          <div class="row">

            <li><a routerLink="/datingLafemme">Dating at La Femme</a></li>


            <li><a routerLink="/affiliateProgram">Affiliate Program</a></li>

          </div>
          <div class="row">
            <img id="sub-img" class="text-center" src="assets/image/LF29.png" alt="">
          </div>
          <div class="row">
            <p class="text-center "> In this Club, you'll find<br> SnazzyMen & Women</p>

          </div>
        </div>

      </header>

      <nav class="row">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/mailBox">Mailbox</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">Contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">Viewed me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/manageProfilr">Manage Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">View Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">Likes Inbox</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/creditPlan">Buy Credits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">Travel Plan</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="#">Virtual Office</a>
          </li>
        </ul>
      </nav>
    </div>

    <main class="row p-2">
      <div class="container">
        <div class="row justify-content-center">
          <h3 class="h6">ABOUT US</h3>
        </div>
        <div class="row justify-content-center">
          <h3 class="h6 ">PRIVATE AFFAIRS CLUB</h3>
        </div>
        <div class="row d-flex justify-content-around">
          <img class="three-img img-thumbnail" src="assets/image/LF38.jpg" alt="">
          <img class="three-img img-thumbnail" src="assets/image/LF39.jpg" alt="">
          <img class="three-img img-thumbnail" src="assets/image/LF19.jpg" alt="">
        </div>
      </div>
      <div class=" p-2 text-justify">
        <p> We at La femme provide you with a place to meet snazzy men and women whom are seeking for the ideal partner,
          like you... They all know the value of Discretion of intelligent people like you who want to share their
          time with a person like you. </p>
        <p> If you like someone in our site it will be easy to become emotionally connected; then you meet and live your
          fantasy with desire, pasion and excitement.</p>
        <p> At La femme you will find people looking for attached people for casual hookups whom are already in
          relationship, whether the relationship is open or committed. Millions of Women Seeking Sugar Daddies, and so
          Many Sugar Daddies Seeking Sugar Babies too. Find Your Arrangement. Here is also yhe also the place where
          discreet and elegant females and inteligent men meet and likewise milions of discret men seeking for sugar
          Mommies. Other two relationships are also here; where discreet women seeks same in an intelligent partner
          and where also where also discreet men seek same in an intelligent partner.</p>
      </div>

      <div class="container d-flex justify-content-around">
        <img class="two-img img-thumbnail" src="assets/image/LF36.jpg" alt="">
        <img class="two-img img-thumbnail" src="assets/image/LF35.jpg" alt="">

      </div>

      <div class=" p-2 text-justify">
        <p>La Femme has unique algorithm called the (CMS) Compatibility Matching System which takes into account
          what exactly you want through your preferences made when you sign up. It also monitors your on-site
          habits, and then presents potential partners to the user based on this information.</p>
        <p> This site, It will also announce your TRAVEL Plans to the local members of your destination based on
          what you indicated in your travel plans to the destination indicated by you.</p>
        <p>Our theme is pretty self explanatory </p>
        <p>Our theme is pretty self explanatory, with th majority of users looking for interaction that tend to be
          sensual in nature. La Femme caterts to over 8 types of relationships covering just about everyone needs;
          like attached men & women, Sugar Daddies and all sexual preferences. Here you can expect to find someone
          that caters your needs and wants. Secrete desire idnites the circuits of our highest potential to enjoy
          our lives as we see it. Life is too shotr, enjoy every moment of it.</p>
      </div>

    </main>

    <footer class="row ">
      <div class="col-10 d-flex justify-content-around ">

        <div class="row ">
          <div class="col-3">
            <p class=" h4 pt-3 font-italic "> A Touch of <br> Class</p>
          </div>
          <div class="col-9 d-flex flex-wrap pt-3 ">
            <div>
              <img class="mini-icon" src="assets/image/icon/icon11.png">
              <small class="">Safe, Secure and Anonymous</small>
            </div>
            <div>
              <img class="mini-icon" src="assets/image/icon/icon11.png">
              <small class="">Real People, we verify Profiles</small>
            </div>
            <div>
              <img class="mini-icon" src="assets/image/icon/icon11.png">
              <small class="">Designed Specially for Extramarital Encounters</small>
            </div>
          </div>

          <div class="row d-flex col-12 justify-content-between">
            <small class="pl-3">Secret desires ignites the circuits of our highest potential to enjoy our
              lives as we see it. Life is too short, enjoy every moment of it.
            </small>

          </div>

        </div>
      </div>
      <div class="col-2 d-flex align-items-baseline ">
        <img class=" mid-icon mr-2" src="assets/image/icon/icon10.png">
        <img class="footer-img float-right" src="assets/image/LF37.jpg">
      </div>

    </footer>
  </div>
</div>
