/* Footer Avatar */
footer {
  display: flex;
  color: white;
  justify-content: space-evenly;
  height: 4em;
  background-color: rgb(32, 18, 74);
  border: 1px solid white;
  padding: 0.5em;
  border-radius: 0.25em;
}

footer img {
  width: 1em;
  height: 1em;
}

/* Footer Avatar */
