@media (max-width: 575.98px) {
  .body-width{
    max-width: 574.98px;
    margin: 0;
    padding:0;
  }
}

main,
header {
  background-color: white;
}

p {
  font-size: 0.7rem;
}

h5 {
  font-size: 0.8rem;
}

h4 {
  font-size: 0.9rem;
}

h3 {
  font-size: 1rem;
}

h2 {
  font-size: 1.1rem;
}
