<div class="body-back">
  <div class="body-width container">
    <header class="text-center p-4">

      <h2 class="pb-3"> <strong>Terms and Conditions </strong> </h2>

      <h4>The following terms and conditions are offered in English as we operate under U.S. law </h4>
      <h4>The Company: Refers to LaFemme1.com</h4>
      <h4>Member/Members: Refers to any person or persons using the site</h4>
      <h4>The Website: Refers to LaFemme1.com</h4>
      <h5>The website is free of charge to join. Upon creating a profile, you will be given 200 FREE credits to
        start.
        You will be able to join and arrange dates with other members. </h5>

    </header>

    <main class="text-justify p-4">
      <h4>Law</h4>
      <p>The Company, The Website and these terms and conditions operates under U.S. law.</p>

      <h4> Email Alerts</h4>

      <p>Members can opt-in and opt-out of email alerts.</p>
      <h4>Pictures</h4>
      <p>Members may upload pictures. This must be of the Member or an avatar and must not breach any copyright
        laws.
      </p>

      <h4>Profiles</h4>
      <p>Members may write and share profile information. This cannot contain any contact information including,
        but
        not
        limited
        to, email address, phone number, website URL or social networking contact details</p>

      <h4>Other site members</h4>
      <p>The Company does not perform background or security checks on its Members. All Members are responsible
        for
        their
        actions and responsible to perform their own background checks of other members they communicate with.
      </p>

      <h4>
        Tracked and stored information

      </h4>
      <p>

        The Company will store all personal information you provide in addition to data about your computer,
        network
        connection
        and location. If a Member deletes their account all personal information will be removed from The
        Website.
        If a
        Member
        is banned then personal information may be stored to prevent the Member from rejoining.
      </p>

      <p>
        The Website data is backed up every 24 hours and stored for up to 24 months. These backups are stored
        both
        offline and
        on our web servers in a non-public location. The Website uses cookies for login and authentication
        purposes
        only.

      </p>

      <h4>Banned members</h4>
      <p>When a member breaches any of these terms and conditions their account will be deleted or restricted
        without
        warning.
        We also reserve the right to ban any member which we feel does not contribute positively to The Website.
        When a member is banned one way encrypted personal information is stored to prevent this member
        re-joining.
        If a banned member re-joins The Website they are considered in breach of these terms and conditions and
        banned
        again.
        One way encrypted personal information may be shared with 3rd parties who wish to ban members from their
        networks
        and web-sites. The Company will ban all Members from other websites The Company operates when they are
        banned
        from The Website.</p>

      <h4>Shared database</h4>
      <p> The Company operates a central member's database which is used over multiple sites. Your data is stored
        in
        one
        database
        location that is controlled by The Company.</p>
      <h4> Copyright and trademarks</h4>
      <p>The Website is protected by copyright and trademark law. No part of The Website may be copied or
        reproduced
        without
        written permission from The Company.</p>
      <h4>Provision of service</h4>
      <p>The Company provides no guarantee of the uptime of The Website, longevity or data storage and may
        terminate
        or
        alter
        the service of The Website without warning</p>
      <h4> Usage </h4>
      <p> Members must not use The Website if they are under 18 or if use of The Website would breach the Members
        own
        regional
        laws. The Website is only to be used for the purpose of meeting people on and/or offline. Members must
        not
        use The Website for any illegal activity, including, but not limited to fraud, child pornography,
        terrorism
        and
        prostitution. </p>

      <h4>Law enforcement</h4>
      <p>The Company will work with recognized law enforcement agencies and share Members personal data when
        required.</p>
      <h4>Links </h4>
      <p> Links to other sites that are not owned by The Company are used at the Members own risk. </p>
      <h4> La femme1 </h4>

      <p> If your own copyright has been breached by content posted on our site by other Members, The Company will
        remove
        this
        data following a La Femme notice sent to our postal address. The details are listed on LaFemme1.com</p>

      <h4> Liability</h4>
      <p>Members using The Website agree that no claim may be brought against The Company for any loss incurred by
        the
        Member as a result of using The Website.</p>
      <h4> Updates to terms and conditions</h4>
      <p>The company reserves the right to update these terms and conditions at any time.</p>

    </main>


  </div>
</div>
