<header class="row d-flex  p-1 justify-content-around">

  <div class="  m-0">
    <img src="assets/image/LF289.png" class="rounded float-left">
    <p class="h6 mt-1 font-italic" id="logo-text"> Fantasies.......<br>Everybody has one!</p>
  </div>
  <div class=" p-3 m-0 ">
    <p class="text-left "> If you don't want to awake your desires...<br> If you don't want to be seduced.... </p>
    <p class="h4  text-right m-0 font-italic"> Please, please....<br> Look elsewhere!</p>
  </div>
  <div class=" d-flex flex-column p-1 pl-5 ">

    <li><a routerLink="/datingLafemme">Dating at La Femme</a></li>
    <li><a routerLink="/affiliateProgram">Affiliate Program</a></li>
    <div class=" ">
      <img id="sub-img" class="text-center " src="assets/image/LF29.png" alt="">
    </div>
    <span class="text-left "> In this Club, you'll find<br>sexy, interesting Men & Women</span>
  </div>
</header>
