<!-- Header "Manage Profile"-->
<header class="row px1200">
  <div class="col-md-1">
    <img src="assets/image/LF28.png" class="rounded float-left" alt="image">
  </div>

  <div class="col-md-3 pt-1 pl-5 ">
    <p class="h3 mb-0"> La Femme </p>
    <p class="ml-3 subtitle">Private Affairs Club</p>
    <p class="float-left m-0 h7 subtitle">Here you'll find your person that meets every fantasy and desire </p>
  </div>

  <div class="col-md-5 text-center mt-3">
    <p class="h5 mt-3"> MANAGE PROFILE </p>
    <p class="h5"> COMMAND & CONTROL CENTER </p>
  </div>
  <div class="col-md-3">
    <img src="assets/image/LF29.png" class="rounded float-right" alt="image">
  </div>
</header>

<header class="row px575">


  <div class="col-12 text-center ">
    <h4> LA FEMME </h4>
    <h6> MANAGE PROFILE </h6>
  </div>

</header>
<!-- Header "Manage Profile"-->
