@media (max-width: 575.98px) {
  /*header "Manage Profile"*/
  .px1200 {
    display: none !important;
  }

  .px575 {
    background-color: black;
    color: white;
  }

  .px575 h4 {
    font-family: 'Futura Md BT', Tahoma, Geneva, Verdana, sans-serif;

  }

  /*header "Manage Profile"*/
}

@media (min-width: 576px) and (max-width: 767.98px) {
  /*header "Manage Profile"*/
  .px1200 {
    display: none !important;
  }

  .px575 {
    background-color: black;
    color: white;
  }

  .px575 h4 {
    font-family: 'Futura Md BT', Tahoma, Geneva, Verdana, sans-serif;

  }

  /*header "Manage Profile"*/
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /*header "Manage Profile"*/
  header {
    background-color: black;
    color: white;
    height: 8em;
  }

  header img {
    height: 7em;
  }

  .subtitle {
    font-size: 12px;
  }

  .h7 {
    font-size: 10px;
  }

  .px575 {
    display: none!important;
  }

  /*header "Manage Profile"*/
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  /*header "Manage Profile"*/
  header {
    background-color: black;
    color: white;
    height: 8em;
  }

  header img {
    height: 7em;
  }

  .subtitle {
    font-size: 12px;
  }

  .h7 {
    font-size: 10px;
  }

  .px575 {
    display: none!important;
  }
  /*header "Manage Profile"*/
}

@media (min-width: 1200px) {
  /*header "Manage Profile"*/
  header {
    background-color: black;
    color: white;
    height: 8em;
  }

  header img {
    height: 7em;
  }

  .subtitle {
    font-size: 12px;
  }

  .h7 {
    font-size: 10px;
  }

  .px575 {
    display: none!important;
  }

  /*header "Manage Profile"*/
}






