<div class="body-back">
  <div class="body-width container">
    <header class=" sticky-top row d-flex justify-content-around">
      <div class="col-md-5 ">
        <img src="assets/image/LF289.png" class="rounded float-left">
        <p class="h6" id="logo-text"> Fantasies.......<br>Everybody has One!</p>
      </div>


      <div class="col-md-5 p-3">
        <p class="text-left font-italic"> You're rewarded for your marketing efforts.<br> Start earning money today </p>
        <p class="text-left font-italic mb-0"> Join La femme Affiliate Program and start<br> earning money today.</p>
      </div>
      <div class="col-md-2">
        <div class="row mt-1">
          <button class="btn btn-sm btn-outline-light "><a routerLink="/home">Back</a></button>

        </div>
        <div class="row">

          <li><a routerLink="/datingLafemme">Dating at La Femme</a></li>


          <li><a routerLink="/affiliateProgram">Affiliate Program</a></li>

        </div>
        <div class="row">
          <img id="sub-img" class="text-center" src="assets/image/LF33.png" alt="">
        </div>
      </div>
      <p class="text-center mt-0 pb-5">Want to make extra money? Here is an opportunity, let's get with. Time is
        Money.</p>
    </header>


    <main class="row">
      <div class=" section1 d-flex justify-content-around">
        <img class="col-2 om-img" src="assets/image/LF46.jpg" alt="">
        <div class="col-8 text-center flex-column align-items-center">
          <div class="text-center h3 pt-3">Opportunity To make Money</div>
          <div class="text-center">La Femme is the home of economic opportunity</div>
        </div>
        <img class="col-2 om-img" src="assets/image/LF52.jpg" alt="">
      </div>

      <div class="section2">

        <div class="col-4 ml-5 pl-5">
          <p class="h2 ml-5 pl-5">MAKING</p>
          <p class="h2 ml-5 pl-5">MONEY</p>
          <p class="h5 ml-5 pl-5">With</p>
          <p class="h5 ml-5 pl-5">La Femme</p>
        </div>
      </div>
      <div class="text-center ml-5 pl-5 mt-0">
        <p class="ml-5 pl-5 h6"> Best Affiliate Program</p>
      </div>
      <div class="col-12 section3 d-flex justify-content-around p-1">
        <img src="assets/image/LF41.jpg" alt="" class="img-thumbnail">
        <div class="col-3">
          <p class="mt-1">MAKE MONEY</p>
          <p>AS AN AFFILIATE</p>
          <p>AT LA FEMME</p>
        </div>
        <div class="col-5 h6 mt-3">As a La Femme Marketing Affiliate you compete with others in the program we operate in
          over
          40
          countries supporting several language
        </div>
        <img src="assets/image/LF42.jpg" alt="" class="img-thumbnail">
      </div>


      <div class="p-2 text-justify">La Femmme Affiliate's program let's you strategically promote La Femme. As an affiliate you
        become
        officially
        attached as a Marketing Affiliate of La femme dating services, once you become an affiliate with La Femme, you
        can
        independently pomote La Femme dating services under the guidelines set forthin a memorandum of understanding. As
        our
        Promoter, the Company share it's earnings with you on every new paying member they bring in on a 40/60 split for
        as
        the member you brought-in stay at La femme is that simple.
      </div>
      <br>
      <div class=" col-12 font-weight-bold text-center"> Once you compile a group of members this can be an excellent
        monthly
        income
        for you.
      </div>

      <div class="row section4 p-1">
        <div class="w-50">
          <p class="font-weight-bold h5 ">What would be my market place? The World.</p>
          <ul>
            <li>Active in over 40 countries</li>
            <li>In-house Marketing Professional to help you create stunning advertising layouts and content.</li>
            <li>Acces to your account in our virtual office</li>
            <li>Automatic monthly payout directly to your Bank Account</li>
          </ul>
        </div>
        <div class="w-50 text-right">
          <img src="assets/image/LF43.jpg" class="img-thumbnail">
        </div>
      </div>

      <div class="col-12 section5 d-flex justify-content-around flex-column">
        <p class="row ">Once you have membership with La Femme, you can also become an independent affiliate to promote
          La
          Femme dating
          under the La Femme set guidelines in the memorandum of understanding. As an affiliate you are officially
          attached
          as a Marketing Affiliate to La femme dating.
        </p>


        <div class="row  ">

          <div class="col-2 p-1 ">
            <img src="assets/image/LF44.jpg" class="img-thumbnail">
          </div>
          <div class="col-6 p-1 ">
            <img src="assets/image/LF45.jpg" class="img-thumbnail">
          </div>
          <div class="col-4 p-1 ">
            <p class="m-0"> Please sign up the Affiliate Application.</p>
            <div class="row d-flex justify-content-end align-items-center ">
              <p> Already a Member</p>
              <a routerLink="/affiliateSignUp" class="badge badge-secondary text-wrap">
                Click here and Signed up now to become as Affiliate
              </a>
            </div>
            <p> Not a Member yet? </p>
            <div class="row d-flex justify-content-end align-items-center ">
              <p> want to become a member</p>
              <a routerLink="/memberSignIn" class="badge badge-secondary text-wrap">
                Click Here and become a member first
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="row ">
      <div class="col-10 d-flex justify-content-around ">

        <div class="row ">
          <div class="col-3">
            <p class=" h4 pt-3 font-italic "> A Touch of <br> Class</p>
          </div>
          <div class="col-9 d-flex flex-wrap pt-3 ">
            <div>
              <img class="mini-icon" src="assets/image/icon/icon11.png">
              <small class="">Safe, Secure and Anonymous</small>
            </div>
            <div>
              <img class="mini-icon" src="assets/image/icon/icon11.png">
              <small class="">Real People, we verify Profiles</small>
            </div>
            <div>
              <img class="mini-icon" src="assets/image/icon/icon11.png">
              <small class="">Designed Specially for Extramarital Encounters</small>
            </div>
          </div>

          <div class="row d-flex col-12 justify-content-between">
            <small class="pl-3">Secret desires ignites the circuits of our highest potential to enjoy our
              lives as we see it. Life is too short, enjoy every moment of it.
            </small>

          </div>

        </div>
      </div>
      <div class="col-2 d-flex align-items-baseline ">
        <img class=" mid-icon mr-2" src="assets/image/icon/icon10.png">
        <img class="footer-img float-right" src="assets/image/LF37.jpg">
      </div>

    </footer>

  </div>
</div>
