<div class="body-back">
  <div class="body-width container">
    <div class=" sticky-top m-0 p-0">
      <app-affiliate-program-header></app-affiliate-program-header>
    </div>

    <!-- MAIN ONE -->
    <main class="row px1200">
      <div class=" section1 d-flex justify-content-around">
        <!-- <img class="col-2 om-img" src="assets/image/LF46.jpg" alt="">-->
        <div class="col-8 text-center flex-column align-items-center m-2">
          <div class="text-center h3 ">Opportunity To Make Money</div>
          <div class="text-center">La Femme is the home of economic opportunity</div>
        </div>
        <!-- <img class="col-2 om-img" src="assets/image/LF52.jpg" alt="">-->
      </div>
      <div class="section2">

        <div class="col-4 ml-5 pl-5">
          <p class="h2 ml-5 pl-5">MAKING</p>
          <p class="h2 ml-5 pl-5">MONEY</p>
          <p class="h5 ml-5 pl-5">With</p>
          <p class="h5 ml-5 pl-5">La Femme</p>
        </div>
      </div>

      <div class="text-center ml-5 pl-5 mt-0">
        <p class="ml-5 pl-5 h6"> Best Affiliate Program</p>
      </div>

      <div class="col-12  section3 d-flex justify-content-around p-1">
        <img src="assets/image/LF41.jpg" alt="" class="img-thumbnail">
        <div class="col-2">
          <p class=" m-0">MAKE MONEY</p>
          <p class=" m-0">AS AN AFFILIATE</p>
          <p class=" m-0">AT LA FEMME</p>
        </div>
        <div class="align-items-center d-flex section3-div">As a La Femme marketing affiliate, you will be completing with others in the program
          as we operate in over 40 countries supporting several languages.
        </div>
        <img src="assets/image/LF42.jpg" alt="" class="img-thumbnail">
      </div>


      <div class="p-2 text-justify">La Femme’s affiliate program lets you strategically promote La Femme. As an
        affiliate you officially become a member of La Femme dating services. You can independently promote La Femme
        dating services under the guidelines set forth in the memorandum of understanding. As our promoter, the Company
        will share its earnings with you on every new member you bring in at a 40/60 split for as long as that member
        stays at La Femme. It is that simple!
      </div>
      <br>
      <div class=" col-12 font-weight-bold text-center"> Once you compile a group of members this can be an excellent
        monthly
        income
        for you.
      </div>

      <div class="row section4 p-1">
        <div class="w-50">
          <p class="font-weight-bold h5 ">What would be my market place? The World.</p>
          <ul>
            <li>Active in over 40 countries</li>
            <li>In-house Marketing Professional to help you create stunning advertising layouts and content.</li>
            <li>Acces to your account in our virtual office</li>
            <li>Automatic monthly payout directly to your Bank Account</li>
          </ul>
        </div>
        <div class="w-50 text-right">
          <img src="assets/image/LF43.jpg" class="img-thumbnail">
        </div>
      </div>

      <div class="col-12 section5 d-flex justify-content-around flex-column">
        <p class="row ">Once you have membership with La Femme, you can also become an independent affiliate to promote
          La
          Femme dating
          under the La Femme set guidelines in the memorandum of understanding. As an affiliate you are officially
          attached
          as a Marketing Affiliate to La femme dating.
        </p>


        <div class="row  ">

          <div class="col-2 p-1 ">
            <img src="assets/image/LF44.jpg" class="img-thumbnail">
          </div>
          <div class="col-6 p-1 ">
            <img src="assets/image/LF45.jpg" class="img-thumbnail">
          </div>

          <div class="col-lg-4 col-sm-12 p-1 contentButtons">
            <p class="m-0"> Please sign up the Affiliate Application.</p>
            <div class="row d-flex justify-content-end align-items-center ">
              <p> Already a Member</p>
              <a routerLink="/creditPlan" class="badge badge-secondary text-wrap">
                Click here and Signed up now to become as Affiliate
              </a>
            </div>
            <p> Not a Member yet? </p>
            <div class="row d-flex justify-content-end align-items-center ">
              <p> want to become a member</p>
              <a routerLink="/memberSignIn" class="badge badge-secondary text-wrap">
                Click Here and become a member first
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- MAIN ONE -->

    <!-- MAIN TWO -->

    <main class="row px575">

      <div class="section1 d-flex flex-column justify-content-center">

        <p class=" h3 ">Opportunity To Make Money</p>
        <p class="">La Femme is the home of economic opportunity</p>

      </div>

      <div class="section2">
        <img src="assets/image/LF40.jpg" class="img-fluid">
        <div class="col-4 ml-5 pl-5">
          <p class="h2 ml-5 pl-5">MAKING</p>
          <p class="h2 ml-5 pl-5">MONEY</p>
          <p class="h5 ml-5 pl-5">With</p>
          <p class="h5 ml-5 pl-5">La Femme</p>
        </div>
      </div>


      <div class="text-center">
        <p class="h6"> Best Affiliate Program</p>
      </div>


      <div class="col-12 row section3 d-flex justify-content-around p-1">
        <div>
          <img src="assets/image/LF41.jpg" alt="" class="img-thumbnail">
        </div>

        <div class="">
          <p class=" m-0">MAKE MONEY</p>
          <p class=" m-0">AS AN AFFILIATE</p>
          <p class=" m-0">AT LA FEMME</p>
        </div>
        <div class="section3-div">As a La Femme marketing affiliate, you will be completing
          with others in the program
          as we operate in over 40 countries supporting several languages.
        </div>
        <div>
          <img src="assets/image/LF42.jpg" alt="" class="img-thumbnail">
        </div>

      </div>


      <div class="p-2 text-justify">La Femme’s affiliate program lets you strategically promote La Femme. As an
        affiliate you officially become a member of La Femme dating services. You can independently promote La Femme
        dating services under the guidelines set forth in the memorandum of understanding. As our promoter, the Company
        will share its earnings with you on every new member you bring in at a 40/60 split for as long as that member
        stays at La Femme. It is that simple!
      </div>
      <br>
      <div class=" col-12 font-weight-bold text-center"> Once you compile a group of members this can be an excellent
        monthly
        income
        for you.
      </div>

      <div class="row section4 p-1">
        <div class="">
          <p class="font-weight-bold h5 text-wrap ">What would be my market place? The World.</p>
          <ul>
            <li>Active in over 40 countries</li>
            <li>In-house Marketing Professional to help you create stunning advertising layouts and content.</li>
            <li>Acces to your account in our virtual office</li>
            <li>Automatic monthly payout directly to your Bank Account</li>
          </ul>
        </div>
        <div class="d-flex justify-content-center">
          <img src="assets/image/LF43.jpg" class="img-fluid">
        </div>
      </div>

      <div class="col-12 section5 d-flex justify-content-around flex-column">
        <p class="row ">Once you have membership with La Femme, you can also become an independent affiliate to promote
          La
          Femme dating
          under the La Femme set guidelines in the memorandum of understanding. As an affiliate you are officially
          attached
          as a Marketing Affiliate to La femme dating.
        </p>


        <div class="row section6">

          <div class="col-2 p-1 ">
            <img src="assets/image/LF44.jpg" class="img-thumbnail">
          </div>
          <div class="col-6 p-1 ">
            <img src="assets/image/LF45.jpg" class="img-thumbnail">
          </div>

          <div class="col-lg-4 col-sm-12 p-1 contentButtons">
            <p class="m-0 h4"> Please sign up the Affiliate Application.</p>
            <div class="row d-flex justify-content-end align-items-center ">
              <p> Already a Member</p>
              <a routerLink="/creditPlan" class="badge badge-secondary border text-wrap">
                Click here and Signed up now to become as Affiliate
              </a>
            </div>
            <p> Not a Member yet? </p>
            <div class="row d-flex justify-content-end align-items-center ">
              <p> want to become a member</p>
              <a routerLink="/memberSignIn" class="badge badge-secondary border text-wrap">
                Click Here and become a member first
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- MAIN TWO -->

    <app-about-us-footer></app-about-us-footer>

  </div>
</div>
