.body-width {
  max-width: 100vw;
}

@media (max-width: 575.98px) {
  .px1200 {
    display: none !important;
  }

  main {
    color: rgb(25, 26, 39);
    background-color: white;
    padding: 5px;
  }

  /* section 1 */
  .section1 {
    width: 100% !important;
    border: 1px solid rgb(25, 26, 39);
    text-align: center;

  }

  .h3 {
    font-size: 1.3rem;
  }

  .img-thumbnail {
    border: none;
  }

  .om-img {
    height: 7em;
  }

  /* section 1 */
  /* section 2 */
  .section2 {
    margin-top: 1em;
    margin-bottom: 1em;
    color: white;
    width: 100% !important;
  }

  .section2 p {
    display: none;
  }

  .section2 .h2 {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .section2 .h5 {
    font-size: 0.7rem !important;
    width: 10rem;
  }

  /* section 2 */
  /* section 3 */
  .section3 {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0 !important;
  }

  .section3 img {
    height: 6em;
    color: rgb(25, 26, 39);
    display: none;
  }

  .section3 p {
    display: none;
  }

  .section3-div {
    text-align: justify;
  }

  /* section 3 */
  /* section 4 */
  .section4 {
    margin: 0 !important;
    color: rgb(25, 26, 39);
    display: flex;
    flex-direction: column;
    width: 98vw !important;
  }

  .section4 p {
    width: 97vw;
    margin-left: -0.1rem;
  }

  ul {
    margin: 0 !important;
    width: 97vw;

  }

  .section4 li {
    margin: 1em 0em 1em 0em;
    width: 85vw;
  }

  .section4 img {
    height: 12em;
    width: 70vw !important;
    align-items: center;
  }

  .section5 {
    background-color: rgb(60, 55, 73);
    padding: 1em 2em 1em 2em;
    color: white;
    text-align: justify;
  }

  .section5 p {
    padding: 0em 1em 0em 1em;
    font-size: 12px;
  }

  .section5 img {

    display: none;
  }

  .contentButtons div {
    display: flex;
    flex-direction: column;
  }

  .badge {
    width: 7rem;
  }

  .section6 p {
    font-size: 1rem;
  }

  .section6 a {
    width: 70vw !important;
    margin: 1rem;
    padding: 1rem;
  }
}


@media (min-width: 576px) and (max-width: 767.98px) {
  .px1200 {
    display: none !important;
  }

  main {
    color: rgb(25, 26, 39);
    background-color: white;
    padding: 5px;
  }

  /* section 1 */
  .section1 {
    width: 100% !important;
    border: 1px solid rgb(25, 26, 39);
    text-align: center;

  }

  .h3 {
    font-size: 1.3rem;
  }

  .img-thumbnail {
    border: none;
  }

  .om-img {
    height: 7em;
  }

  /* section 1 */
  /* section 2 */
  .section2 {
    margin-top: 1em;
    margin-bottom: 1em;
    color: white;
    width: 100% !important;
  }

  .section2 p {
    display: none;
  }

  .section2 .h2 {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .section2 .h5 {
    font-size: 0.7rem !important;
    width: 10rem;
  }

  /* section 2 */
  /* section 3 */
  .section3 {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0 !important;
  }

  .section3 img {
    height: 6em;
    color: rgb(25, 26, 39);
    display: none;
  }

  .section3 p {
    display: none;
  }

  .section3-div {
    text-align: justify;
  }

  /* section 3 */
  /* section 4 */
  .section4 {
    margin: 0 !important;
    color: rgb(25, 26, 39);
    display: flex;
    flex-direction: column;
    width: 98vw !important;
  }

  .section4 p {
    width: 97vw;
    margin-left: -0.1rem;
  }

  ul {
    margin: 0 !important;
    width: 97vw;

  }

  .section4 li {
    margin: 1em 0em 1em 0em;
    width: 85vw;
  }

  .section4 img {
    height: 12em;
    width: 70vw !important;
    align-items: center;
  }

  .section5 {
    background-color: rgb(60, 55, 73);
    padding: 1em 2em 1em 2em;
    color: white;
    text-align: justify;
  }

  .section5 p {
    padding: 0em 1em 0em 1em;
    font-size: 12px;
  }

  .section5 img {

    display: none;
  }

  .contentButtons div {
    display: flex;
    flex-direction: column;
  }

  .badge {
    width: 7rem;
  }

  .section6 p {
    font-size: 1rem;
  }

  .section6 a {
    width: 70vw !important;
    margin: 1rem;
    padding: 1rem;
  }

}


@media (min-width: 768px) and (max-width: 991.98px) {
  .px575 {
    display: none !important;
  }

  main {
    color: rgb(25, 26, 39);
    background-color: white;
    padding: 5px;
  }

  /* section 1 */
  .section1 {
    margin: 2px;
    border: 1px solid rgb(25, 26, 39);
    display: block;
    width: 100%;
  }

  .img-thumbnail {
    border: none;
  }

  .om-img {
    height: 7em;
  }

  /* section 1 */
  .section2 {
    background-image: url('../../../assets/image/LF40.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 13.5em;
    margin-top: 1em;
    color: white;
    padding-top: 1em;
    width: 100%;
  }

  .section3 {
    margin-top: 1em;
    height: 7em;
    margin-bottom: 1em;
  }

  .section3 img {
    height: 6em;
    color: rgb(25, 26, 39);
  }

  .section4 {
    margin: 1em 0em 0em 1em;
    color: rgb(25, 26, 39);
  }

  .section4 li {
    margin: 1em 0em 1em 0em;
  }

  .section4 img {
    height: 12em;
  }

  .section5 {
    background-color: rgb(60, 55, 73);
    padding: 1em 2em 1em 2em;
    color: white;
  }

  .section5 p {
    padding: 0em 1em 0em 1em;
    font-size: 12px;
  }

  .section5 img {
    height: 9.5em;
  }

  .badge {
    width: 7rem;
  }

}


@media (min-width: 992px) and (max-width: 1199.98px) {
  .px575 {
    display: none !important;
  }

  main {
    color: rgb(25, 26, 39);
    background-color: white;
    padding: 5px;
  }

  /* section 1 */
  .section1 {
    margin: 2px;
    border: 1px solid rgb(25, 26, 39);
    display: block;
    width: 100%;
  }

  .img-thumbnail {
    border: none;
  }

  .om-img {
    height: 7em;
  }

  /* section 1 */
  .section2 {
    background-image: url('../../../assets/image/LF40.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 13.5em;
    margin-top: 1em;
    color: white;
    padding-top: 1em;
    width: 100%;
  }

  .section3 {
    margin-top: 1em;
    height: 7em;
    margin-bottom: 1em;
  }

  .section3 img {
    height: 6em;
    color: rgb(25, 26, 39);
  }

  .section4 {
    margin: 1em 0em 0em 1em;
    color: rgb(25, 26, 39);
  }

  .section4 li {
    margin: 1em 0em 1em 0em;
  }

  .section4 img {
    height: 12em;
  }

  .section5 {
    background-color: rgb(60, 55, 73);
    padding: 1em 2em 1em 2em;
    color: white;
  }

  .section5 p {
    padding: 0em 1em 0em 1em;
    font-size: 12px;
  }

  .section5 img {
    height: 9.5em;
  }

  .badge {
    width: 7rem;
  }
}


@media (min-width: 1200px) {
  .px575 {
    display: none !important;
  }

  main {
    color: rgb(25, 26, 39);
    background-color: white;
    padding: 5px;
  }

  /* section 1 */
  .section1 {
    margin: 2px;
    border: 1px solid rgb(25, 26, 39);
    display: block;
    width: 100%;
  }

  .img-thumbnail {
    border: none;
  }

  .om-img {
    height: 7em;
  }

  /* section 1 */
  .section2 {
    background-image: url('../../../assets/image/LF40.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 13.5em;
    margin-top: 1em;
    color: white;
    padding-top: 1em;
    width: 100%;
  }

  .section3 {
    margin-top: 1em;
    height: 7em;
    margin-bottom: 1em;
  }

  .section3 img {
    height: 6em;
    color: rgb(25, 26, 39);
  }

  .section4 {
    margin: 1em 0em 0em 1em;
    color: rgb(25, 26, 39);
  }

  .section4 li {
    margin: 1em 0em 1em 0em;
  }

  .section4 img {
    height: 12em;
  }

  .section5 {
    background-color: rgb(60, 55, 73);
    padding: 1em 2em 1em 2em;
    color: white;
  }

  .section5 p {
    padding: 0em 1em 0em 1em;
    font-size: 12px;
  }

  .section5 img {
    height: 9.5em;
  }

  .badge {
    width: 7rem;
  }

}





