<div class="body-back">
  <div class="body-width container text-center">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
              aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" routerLink="/">La Femme</a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/memberSignIn">Select your Match</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron ">
      <img src="assets/image/LF01.jpg" class="img-thumbnail w-50 h-50" alt="">
      <hr class="my-4">
      <p class="lead">Oops! We can't find this page.</p>
      <hr class="my-4 border-white">
      <p>You can <a routerLink="/">Go La Femme</a></p>
      <p>or</p>

      <a class="btn btn-dark btn-lg mr-3" routerLink="/login" role="button">Login</a>
      <a class="btn btn-dark btn-lg ml-3" routerLink="/memberSignIn" role="button">Register</a>
    </div>


  </div>
</div>



