
<header style="font-size: 0.8rem;">
  <a routerLink="/" class="logo"> <span class="icon-home"></span> <span>{{ title }}</span> </a>
  <a routerLink="memberSignIn" routerLinkActive="router-link-active" class="button">
    <span> Member</span>
  </a>
  <a routerLink="login" routerLinkActive="router-link-active" class="button">
    <span> Login</span>
  </a>
  <a routerLink="aboutUs" routerLinkActive="router-link-active" class="button">
    <span> About Us</span>
  </a>
  <a routerLink="affiliateProgram" routerLinkActive="router-link-active" class="button">
    <span> Affiliate Program</span>
  </a>
  <a routerLink="affiliateSignIn" routerLinkActive="router-link-active" class="button">
    <span> Affiliate Sign In</span>
  </a>
  <a routerLink="creditPlan" routerLinkActive="router-link-active" class="button">
    <span> Credit Plan</span>
  </a>
  <a routerLink="datingLafemme" routerLinkActive="router-link-active" class="button">
    <span> Dating at La Femme</span>
  </a>
  <a routerLink="mailBox" routerLinkActive="router-link-active" class="button">
    <span>Mail Box</span>
  </a>
  <a routerLink="manageProfile" routerLinkActive="router-link-active" class="button">
    <span>Manage Profile</span>
  </a>
  <a routerLink="profile" routerLinkActive="router-link-active" class="button">
    <span>Profile</span>
  </a>

  <a routerLink="relationType" routerLinkActive="router-link-active" class="button">
    <span>Relation Type</span>
  </a>

  <a routerLink="tellUsMore" routerLinkActive="router-link-active" class="button">
    <span>Tell Us More</span>
  </a>
</header>-->
