<div class="body-back">
  <div class="body-width container">
    <header class=" sticky-top row d-flex justify-content-around">

      <div class="col-md-5 ">
        <img src="assets/image/LF289.png" class="rounded float-left">
        <p class="h6" id="logo-text"> Fantasies.......<br>Everybody has One!</p>
      </div>

      <div class="col-md-5 p-3">
        <h1 class="text-center h1"> Profile </h1>
        <p class="text-center font-italic h6"> Private Affairs Club</p>
        <p class="text-center h6"> Private Affairs Club, our members find <br> Snazzy Men & Women</p>
      </div>

      <div class="col-md-2 pt-1">


      </div>

    </header>

    <main class="row">
      <h5 class="pl-3 m-2">Profile</h5>

      <section class="container-fluid section1 d-flex justify-content-around">
        <div class="col-md-3">
          <div class="pt-5 pl-3">
            <img id="profile-pic" src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg" alt="">

          </div>
          <p class=" row d-flex text-center align-self-end last-online mt-3">Last on line: 3 hours ago</p>
        </div>

        <div class="col-md-5 ">
          <div class="h6 rela-type d-flex align-items-center justify-content-center">
            {{typeRelation}}
          </div>
          <div class="h4">{{member.name}} {{member.lastName}}</div>
          <div class="h6">Life time member</div>
          <div class="h6">Looking forward an Exciting Affair</div>
          <div class="dataprofile container d-flex align-items-left"><label class="col-6"> Age</label>
            <div class="col-6">{{member.age}} </div>
          </div>
          <div class="dataprofile container d-flex align-items-left"><label class="col-6"> Zodiac Sign </label>
            <div class="col-6"> {{member.zodiacSign}} </div>
          </div>
          <div class="dataprofile container d-flex align-items-left"><label class="col-6"> Body type </label>
            <div class="col-6">  {{member.bodyType}}</div>
          </div>
          <div class="dataprofile container d-flex align-items-left"><label class="col-6"> Heigth </label>
            <div class="col-6"> {{member.height}}</div>
          </div>

        </div>
        <div class="col-md-4 ">
          <div class="dataprofile container d-flex align-items-left"><label class="col-6">Weight </label>
            <div class="col-6">  {{member.weight}}</div>
          </div>
          <div class="dataprofile container d-flex align-items-left"><label class="col-6"> Eyes</label>
            <div class="col-6">{{member.eyes}}</div>
          </div>
          <div class="dataprofile container d-flex align-items-left"><label class="col-6"> Hair Color</label>
            <div class="col-6">{{member.hairColor}}</div>
          </div>
          <div class="dataprofile container d-flex align-items-left"><label class="col-6"> Hair lenght</label>
            <div class="col-6">{{member.hairLength}}</div>
          </div>
          <div class="dataprofile container d-flex align-items-left"><label class="col-6"> Race/ Ethnic</label>
            <div class="col-6">{{member.raceEthnic}}</div>
          </div>
          <div class="dataprofile container d-flex align-items-left"><label class="col-6"> Tattoos</label>
            <div class="col-6">{{member.tattoos}}</div>
          </div>
          <div class="dataprofile container d-flex align-items-left"><label class="col-6"> Located In:</label>
            <div class="col-6">{{member.locatedIn}}</div>
          </div>
        </div>


      </section>


      <div class="container-fluid d-flex justify-content-around">
        <button class="btn-cent btn btn-primary btn-lg ">Change Profile Picture
        </button>
        <button class="btn-cent btn btn-primary btn-lg "> Edit My Profile
        </button>
        <button class="btn-cent btn btn-primary btn-lg "> Travel Notice
        </button>
        <button class="btn-cent btn btn-primary btn-lg "> Control Center
        </button>
      </div>

      <section class=" container-fluid section2">

        <h6 class="htop col-md-12 d-flex align-items-center">DESCRIBE YOURSELF(VES) "GREETING"</h6>

        <div class="col-md-12 ">
          <p>I keep my self in good shape, don't smoke, only socially. After a few trips overseas i realized how
            much i was missing out in this boring life; so i decided to explore local and overseas communities
            and see if i can find the same kind of feelings, emotions, activities, and pleasures.</p>
        </div>
      </section>

      <section class=" container-fluid section2">
        <h6 class="htop col-md-12 d-flex align-items-center">WHAT ARE YOU LOOKING FOR?</h6>

        <div class="col-md-12">
          <p>Hoping to meet a like-minded easy-going person that i can go out with and explore our erotic
            fantasies together.</p>
        </div>
      </section>

      <section class=" container-fluid section2">

        <h6 class="htop col-md-12 d-flex align-items-center">MY TRAVEL PLANS</h6>

        <div class="col-md-12 var">
          <p>Odesa, Odesa Oblast, Ukraine <br> December 27, 2018 - December 29, 2018 <br><br> Sun, beach and
            exciting memories. Please let me know if you want to join.</p>
        </div>
      </section>
    </main>

    <footer class="row ">
      <div class="col-10 d-flex justify-content-around ">

        <div class="row ">
          <div class="col-3">
            <p class=" h4 pt-3 font-italic "> A Touch of <br> Class</p>
          </div>
          <div class="col-9 d-flex flex-wrap pt-3 ">
            <div>
              <img class="mini-icon" src="assets/image/icon/icon11.png">
              <small class="">Safe, Secure and Anonymous</small>
            </div>
            <div>
              <img class="mini-icon" src="assets/image/icon/icon11.png">
              <small class="">Real People, we verify Profiles</small>
            </div>
            <div>
              <img class="mini-icon" src="assets/image/icon/icon11.png">
              <small class="">Designed Specially for Extramarital Encounters</small>
            </div>
          </div>

          <div class="row d-flex col-12 justify-content-between">
            <small class="pl-3">Secret desires ignites the circuits of our highest potential to enjoy our
              lives as we see it. Life is too short, enjoy every moment of it.
            </small>

          </div>

        </div>
      </div>
      <div class="col-2 d-flex align-items-baseline ">
        <img class=" mid-icon mr-2" src="assets/image/icon/icon10.png">
        <img class="footer-img float-right" src="assets/image/LF37.jpg">
      </div>

    </footer>

  </div>
</div>
