
<header class="row ">
  <div class="col-md-1">
    <img src="assets/image/LF28.png" class="rounded float-left" alt="image">
  </div>

  <div class="col-md-3 pt-1 pl-5 ">
    <p class="h5"> La Femme </p>
    <p class="h6">Private Affairs Club</p>
    <p class="float-left h7">Here you'll find your person that meets every fantasy and desire </p>
  </div>

  <div class="col-md-5 text-center mt-3">
    <p class="subtitle"> Secret desires ignite the circuits to our highest potential. Enabling us to enjoy our lives as we
      see it. </p>
    <p class="h5"> CREATING YOUR PROFILE </p>
  </div>
  <div class="col-md-3">
    <img src="assets/image/LF29.png" class="rounded float-right" alt="image">
  </div>
</header>
