<header class="row d-flex justify-content-around">
  <div class="col-md-5 ">
    <img src="assets/image/LF289.png" class="rounded float-left">
    <p class="h6" id="logo-text"> Fantasies.......<br>Everybody has One!</p>
  </div>
  <div class="col-md-5 p-3 center-field " id="center-field">
    <p class="h2 text-center "> Profile </p>
    <p class="text-center font-italic h6"> Private Affairs Club</p>
    <p class="text-center h6"> Private Affairs Club, our members find <br> Snazzy Men & Women</p>
  </div>
  <div class="col-md-2 pt-1">
  </div>
</header>
