<div class="body-back">
  <div class="container body-width">

    <!-- Header "Creating Profile"-->
    <div class="sticky-top">
      <app-sign-in-header></app-sign-in-header>
    </div>
    <!-- Header "Creating Profile"-->

    <main class="row">
      <section class="p-2 m-2">
        <div class="row">
          <div class="col-lg-2">
            <img src="assets/image/LF30.jpg" class="rounded float-left sect-img" alt="image">
          </div>

          <div class="col-lg-2 d-flex flex-column">
            <a class="border-bottom"> <strong>PRIVACY</strong> </a>
            <a> LA FEMME </a>
            <a> PRIVACY </a>
            <a> TIPS </a>
          </div>

          <div class="col-lg-4 h4 d-flex align-items-center "> Privacy &amp; Security Tips</div>
          <div class="col-lg-2  d-flex flex-column">
            <a class="border-bottom"> <strong>SECURITY </strong> </a>
            <a class=""> LA FEMME </a>
            <a class=""> SECURITY </a>
            <a class=""> TIPS </a>
          </div>
          <div class="col-lg-2">
            <img src="assets/image/LF30.jpg" class="rounded float-right sect-img">
          </div>
        </div>
        <div class="row section-middle h4 d-flex justify-content-center d-flex align-items-center">
          How to Anonymously Safeguard Your Privacy

        </div>
        <div class="container-fluid">
          <p class="h6 mt-3 mb-3"> To ease any privacy concerns, we
            suggest
            creating a new email to sign up with La Femme. Gmail and Hotmail are free and do not require a
            home
            address or phone number.
          </p>
          <p class="h6 mt-3 mb-3"> When creating a new email, avoid using
            terms that may specifically identify you in any way. </p>
          <p class="h6 mt-3 mb-3"> While on La Femme, use our email
            system to
            avoid sharing your phone number, personal email or social media. Use this new email to fulfill
            all
            your dreams and fantasies with La Femme! </p>

        </div>
      </section>


      <div class="container section-form">
        <h2 class="h4 pb-3"> CREATE YOUR PROFILE </h2>
        <p class="h5 pb-3"> Someone will acknowledge you with Desire, Passion and Excitement. </p>

        <form class="container-fluid col-md-9" action="" name="form1">

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">CHOOSE RELATIONSHIP </label>
            <select class="form-control col-sm-8" name="typeRelation">
              <option *ngFor="let typRel of typeRelation" [value]="typRel.id">
                <span>{{typRel.description}}</span>
              </option>

            </select>
          </div>

          <p class="h4"> Explore </p>
          <div class="row">
            <div class="col-4">
              <label>Invitation ID Code </label>
            </div>

            <div class="col-4">
              <input type="number" required class="w-75">
            </div>

            <div class="col-4">
              <label class=" justify-content-end ">If no one invited you, use ID Code 100</label>
            </div>
          </div>

          <div class="form-group row d-flex align-items-center field-form">
            <label for="name" class="col-sm-3 col-form-label"> User Name </label>
            <div class="col-sm-9">
              <input id="name" name="userName" type="text" [(ngModel)]="member.name" class="form-control"
                     placeholder="Insert your name" required>
            </div>
          </div>

          <div class="form-group row d-flex align-items-center field-form">
            <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
              <input id="inputPassword" name="password" type="password" [(ngModel)]="member.password"
                     class="form-control" placeholder="Password"
                     required>
            </div>
          </div>

          <div class="form-group row d-flex align-items-center field-form">
            <label for="" class="col-sm-3 col-form-label"> Country</label>
            <div class=" col-sm-9">
              <select name="country" class="form-control">
                <!-- show mock-country  -->
                <option *ngFor="let country of countries">
                  {{country.name}}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group row d-flex align-items-center field-form">
            <label for="" class="col-sm-3 col-form-label"> State</label>
            <div class=" col-sm-3">
              <select [ngClass]="{ 'hidden' : formHidden }" name="state" class="form-control">
                <!-- add selected condition -->
                <option *ngFor="let country of statesUsa">
                  {{country.name}}
                </option>
              </select>
            </div>

            <label for="" class="col-sm-3 col-form-label"> Postal Zip Code</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" placeholder=" ">
            </div>
          </div>

          <div class="form-group row d-flex align-items-center field-form">
            <label for="" class="col-sm-3 col-form-label"> Date of Birth </label>
            <div class="col-sm-9">
              <input type="date" class="form-control" [(ngModel)]="member.dateOfBirth" name="user_date" id="user_date"/>
            </div>
          </div>

          <div class="form-group row d-flex align-items-center field-form">
            <label for="" class="col-sm-3 col-form-label"> Age </label>
            <div class="col-sm-9 text-left">
              <input class="form-control" id="result"
                     readonly type="text" [value]="CalculateAge()">
            </div>

          </div>

          <div class="form-group row d-flex align-items-center field-form">
            <label for="" class="col-sm-3 col-form-label"> Zodiac Sign</label>
            <div class="col-sm-9">
              <select class="form-control " name="zodiac">
                <option value="" disabled selected>--Please Select--</option>
                <option value="aries">Aries (March 21 - April 19)</option>
                <option value="taurus">Taurus (April 20 - May 20)</option>
                <option value="gemini">Gemini (May 21 - June 20)</option>
                <option value="cancer">Cancer (June 21 - July 22)</option>
                <option value="leo">Leo (July 23 - August 22)</option>
                <option value="virgo">Virgo (August 23 - September 22)</option>
                <option value="libra">Libra (September 23 - October 22)</option>
                <option value="scorpio">Scorpio (October 23 - November 21)</option>
                <option value="sagittarius">Sagittarius (November 22 - December 21)</option>
                <option value="capricorn">Capricorn (December 22 - January 19)</option>
                <option value="aquarius">Aquarius (January 20 - February 18)</option>
                <option value="pisces">Pisces (February 19 - March 20)</option>
              </select>
            </div>
          </div>

          <div class="form-group row d-flex align-items-center field-form">
            <label for="" class="col-sm-3 col-form-label"> Race /Ethnic</label>
            <div class="col-sm-9">
              <select class="form-control " name="chooseRelationship">
                <option value="" disabled selected>I identify my ethnicity as:</option>
                <option value="">Asian</option>
                <option value="">Black/African</option>
                <option value="">Caucasian</option>
                <option value="">Hispanic/Latino</option>
                <option value="">Native American</option>
                <option value="">Pacific Islander</option>
                <option value="">Mixed Race</option>
                <option value="">Other</option>
              </select>
            </div>
          </div>

          <div class="form-group row d-flex align-items-center field-form">
            <label for="" class="col-sm-3 col-form-label"> Email</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="" value="email@example.com " required>
            </div>
          </div>

          <div class="form-group">
            <label>For maximum discretion we recommend using an email specific to this account.
            </label>
          </div>
          <div class="d-flex p-2 bd-highlight row ">
            <div class="p-2 bd-highlight">
              <input type="checkbox" name="verifyage" value="">
            </div>
            <div class="p-2 bd-highlight">
              <label> I am 18 years or older </label>
            </div>
          </div>


          <div class="d-flex p-2 bd-highlight row">
            <div class="p-2 bd-highlight">
              <input type="checkbox" name="chtermsandconditions" value="1">
            </div>
            <div class="p-2 bd-highlight">
              <label> I have read the La Femme Policy and agree
                to all
                <a routerLink="/termCondition">terms and
                  conditions </a></label>
            </div>
          </div>


          <div class="d-flex justify-content-end">
            <button routerLink="/tellUsMore" type="submit"
                    class="btn btn-light btn-lg " disabled="disabled">I Agree
            </button>
          </div>


        </form>
      </div>
    </main>
    <!--
            <pre>{{ member | json }}</pre>

    -->
    <app-sign-in-footer></app-sign-in-footer>

  </div>
</div>
