/*header "Creating Profile"*/
header {
  background-color: black;
  color: white;
  height: 8em;
}

header img {
  height: 7em;
}

.subtitle{
  font-size: 12px;
}
.h7{
  font-size: 12px;
}
/*header "Creating Profile"*/

















main {
  padding: 0.5em;
  background-color: rgb(32, 21, 61);
}

section {
  background-color: white;
  color: rgb(33, 21, 60);
}

.sect-img {
  height: 6.5em;
}

.border-bottom{
  border-color: rgb(32, 21, 61);
}
.section-middle {
  background-color: rgb(32, 21, 61);
  margin: 0.5em;
  color: white;
  height: 2em;
  margin-top: 1em;
}

.section-form {
  text-align: center;
  color: white;
  padding: 1em;
}

.field-form {
  background-color: white;
  color: rgb(32, 21, 61);
  border-radius: 2.5px;
}

#submit {
  width: 20em;
}

footer {
  display: flex;
  color: white;
  justify-content: space-evenly;
  font-size: 1rem;
  background-color: rgb(32, 21, 61);
  padding-bottom: 2em;
}

footer img {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.2rem;
}
