<div class="body-back">
  <div class="container-fluid body-width border-white ">

    <!-- Header "Creating Profile"-->
    <div class="sticky-top m-0 p-0">
      <app-sign-in-header></app-sign-in-header>
    </div>
    <!-- Header "Creating Profile"-->

    <main class=" row container-fluid p-0 m-0">
      <section class="p-2 m-2">
        <div class="row section-middle h4 d-flex justify-content-center d-flex align-items-center">
          How to Anonymously Safeguard Your Privacy
        </div>
        <div class="d-flex justify-content-around ">
          <img src="assets/image/LF35.jpg" alt="" class="img-fluid sect-img ">
          <img src="assets/image/LF05.png" alt="" class="img-fluid sect-img ">
          <img src="assets/image/LF36.jpg" alt="" class="img-fluid sect-img ">
        </div>
        <div class="container-fluid">
          <p class="h6 mt-3 mb-3"> Privacy is important because it provides functional benefits. For example, privacy
            can be followed and protected
            by being anonymous. Anonymity can allow the person to participate without a care in mind with La femme other
            members and families and friends
            . To ease any privacy concerns, we suggest
            creating a new email to sign up with La Femme. Gmail and Hotmail are free and do not require a
            home
            address or phone number.
          </p>
          <p class="h6 mt-3 mb-3"> When creating a new email, avoid using
            terms that may specifically identify you in any way. </p>
          <p class="h6 mt-3 mb-3"> While on La Femme, use our email
            system to
            avoid sharing your phone number, personal email or social media. Use your new La Femme email to fulfill
            all your dreams and fantasies with people you'll meet at La Femme! </p>

        </div>
      </section>


      <div class="container-fluid section-form">
        <h2 class="h4 pb-3"> CREATE YOUR PROFILE </h2>
        <p class="h5 pb-3"> Someone will acknowledge you with Desire, Passion and Excitement. </p>


        <form [formGroup]="memberRegisterForm" (ngSubmit)="saveMemberRegister(memberRegisterForm.value)">

          <!--     User Name     -->

          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Enter Name" formControlName="name" required>
            <div class="alert-danger"
                 *ngIf="!memberRegisterForm.controls['name'].valid && (memberRegisterForm.controls['name'].touched)">
              <div [hidden]="!memberRegisterForm.controls['name'].errors.required">
                Name is required.
              </div>
            </div>
          </div>

          <!--     Email     -->

          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" placeholder="Email" formControlName="email" required>
            <div class="alert-danger"
                 *ngIf="!memberRegisterForm.controls['email'].valid && (memberRegisterForm.controls['email'].touched)">
              <div [hidden]="!memberRegisterForm.controls['email'].errors.required">
                Description is required.
              </div>
              <div [hidden]="!memberRegisterForm.controls['email'].errors.minlength">
                Description must be have 10 character length.
              </div>
              <div [hidden]="!memberRegisterForm.controls['email'].errors.maxlength">
                Description must be have 1000 character length.
              </div>
            </div>
          </div>

          <!--     Password      -->

          <div class="form-group">
            <label>Password</label>
            <input type="text" class="form-control" placeholder="password" formControlName="password" required>
            <div class="alert-danger"
                 *ngIf="!memberRegisterForm.controls['password'].valid && (memberRegisterForm.controls['password'].touched)">
              <div [hidden]="!memberRegisterForm.controls['password'].errors.required">
                Password is required.
              </div>
            </div>
          </div>

          <!--     Relation Type     -->

          <div class="form-group">
            <label>Relation Type</label>
            <input type="text" class="form-control" placeholder="Enter reltype" formControlName="typeRelation" required>
            <div class="alert-danger"
                 *ngIf="!memberRegisterForm.controls['typeRelation'].valid && (memberRegisterForm.controls['typeRelation'].touched)">
              <div [hidden]="!memberRegisterForm.controls['typeRelation'].errors.required">
                typeRelation is required.
              </div>
            </div>
          </div>

          <!--   invitation Code    -->

          <div class="form-group">
            <label>Invitation Code</label>
            <input type="number" class="form-control" placeholder="Enter invitationCode" formControlName="invitationCode" required>
            <div class="alert-danger"
                 *ngIf="!memberRegisterForm.controls['invitationCode'].valid && (memberRegisterForm.controls['invitationCode'].touched)">
              <div [hidden]="!memberRegisterForm.controls['invitationCode'].errors.required">
                typeRelation is required.
              </div>
            </div>
          </div>

          <!--     Country    -->

          <div class="form-group">
            <label>Country</label>
            <input type="text" class="form-control" placeholder="Enter country" formControlName="country" required>
            <div class="alert-danger"
                 *ngIf="!memberRegisterForm.controls['country'].valid && (memberRegisterForm.controls['country'].touched)">
              <div [hidden]="!memberRegisterForm.controls['country'].errors.required">
                country is required.
              </div>
            </div>
          </div>

          <!--     State    -->

          <div class="form-group">
            <label>State</label>
            <input type="text" class="form-control" placeholder="Enter state" formControlName="state" required>
            <div class="alert-danger"
                 *ngIf="!memberRegisterForm.controls['state'].valid && (memberRegisterForm.controls['state'].touched)">
              <div [hidden]="!memberRegisterForm.controls['state'].errors.required">
                country is required.
              </div>
            </div>
          </div>

          <!--     Postal Code    -->

         <div class="form-group">
            <label>Postal Code</label>
            <input type="text" class="form-control" placeholder="Enter postalZipCode" formControlName="postalZipCode" required>
            <div class="alert-danger"
                 *ngIf="!memberRegisterForm.controls['postalZipCode'].valid && (memberRegisterForm.controls['postalZipCode'].touched)">
              <div [hidden]="!memberRegisterForm.controls['postalZipCode'].errors.required">
                postalZipCode is required.
              </div>
            </div>
          </div>

          <!--     Birth Date    -->

        <div class="form-group">
            <label>dateOfBirth</label>
            <input type="text" class="form-control" placeholder="Enter dateOfBirth" formControlName="dateOfBirth" required>
            <div class="alert-danger"
                 *ngIf="!memberRegisterForm.controls['dateOfBirth'].valid && (memberRegisterForm.controls['dateOfBirth'].touched)">
              <div [hidden]="!memberRegisterForm.controls['dateOfBirth'].errors.required">
                dateOfBirth is required.
              </div>
            </div>
          </div>

          <!--     age    -->

        <div class="form-group">
            <label> age</label>
            <input type="text" class="form-control" placeholder="Enter age" formControlName="age" required>
            <div class="alert-danger"
                 *ngIf="!memberRegisterForm.controls['age'].valid && (memberRegisterForm.controls['age'].touched)">
              <div [hidden]="!memberRegisterForm.controls['age'].errors.required">
                age is required.
              </div>
            </div>
          </div>


          <!--     Zodiac sign   -->

          <div class="form-group">
            <label>zodiacSign</label>
            <input type="text" class="form-control" placeholder="Enter zodiacSign" formControlName="zodiacSign" required>
            <div class="alert-danger"
                 *ngIf="!memberRegisterForm.controls['zodiacSign'].valid && (memberRegisterForm.controls['zodiacSign'].touched)">
              <div [hidden]="!memberRegisterForm.controls['zodiacSign'].errors.required">
                zodiacSign is required.
              </div>
            </div>
          </div>

          <!--    race Ethnic    -->

          <div class="form-group">
            <label>raceEthnic</label>
            <input type="text" class="form-control" placeholder="Enter raceEthnic" formControlName="raceEthnic" required>
            <div class="alert-danger"
                 *ngIf="!memberRegisterForm.controls['raceEthnic'].valid && (memberRegisterForm.controls['raceEthnic'].touched)">
              <div [hidden]="!memberRegisterForm.controls['raceEthnic'].errors.required">
                postalZipCode is required.
              </div>
            </div>
          </div>

          <!--     Button     -->

          <button type="submit" class="btn btn-primary" [disabled]="!memberRegisterForm.valid">Submit</button>
        </form>

      </div>
    </main>

    <footer class="m-0 p-0">
      <app-sign-in-footer></app-sign-in-footer>
    </footer>


  </div>
</div>
