
main {
  padding: 0.5em;
  background-color: rgb(32, 21, 61);
  height: 95rem;
}

section {
  background-color: white;
  color: rgb(33, 21, 60);
}

.sect-img {
  height: 6.5em;
}

.border-bottom{
  border-color: rgb(32, 21, 61);
}
.section-middle {
  background-color: rgb(32, 21, 61);
  margin: 0.5em;
  color: white;
  height: 2em;
  margin-top: 1em;
}

.section-form {
  text-align: center;
  color: white;
  padding: 1em;
}

.field-form {
  background-color: white;
  color: rgb(32, 21, 61);
  border-radius: 2.5px;
}

#submit {
  width: 20em;
}


/* new style*/

.hidden{
  color:red;
}
