<div class="body-back">
  <div class="container-fluid body-width border-white ">

    <!-- Header "Creating Profile"-->
    <div class="sticky-top m-0 p-0">
      <app-sign-in-header></app-sign-in-header>
    </div>
    <!-- Header "Creating Profile"-->

    <main class=" row container-fluid p-0 m-0">
      <section class="p-2 m-2">
        <div class="row section-middle h4 d-flex justify-content-center d-flex align-items-center">
          How to Anonymously Safeguard Your Privacy
        </div>
        <div class="d-flex justify-content-around ">
          <img src="assets/image/LF35.jpg" alt="" class="img-fluid sect-img ">
          <img src="assets/image/LF05.png" alt="" class="img-fluid sect-img ">
          <img src="assets/image/LF36.jpg" alt="" class="img-fluid sect-img ">
        </div>
        <div class="container-fluid">
          <p class="h6 mt-3 mb-3"> Privacy is important because it provides functional benefits. For example, privacy
            can be followed and protected
            by being anonymous. Anonymity can allow the person to participate without a care in mind with La femme other
            members and families and friends
            . To ease any privacy concerns, we suggest
            creating a new email to sign up with La Femme. Gmail and Hotmail are free and do not require a
            home
            address or phone number.
          </p>
          <p class="h6 mt-3 mb-3"> When creating a new email, avoid using
            terms that may specifically identify you in any way. </p>
          <p class="h6 mt-3 mb-3"> While on La Femme, use our email
            system to
            avoid sharing your phone number, personal email or social media. Use your new La Femme email to fulfill
            all your dreams and fantasies with people you'll meet at La Femme! </p>

        </div>
      </section>


      <div class="container-fluid section-form">
        <h2 class="h4 pb-3"> CREATE YOUR PROFILE </h2>
        <p class="h5 pb-3"> Someone will acknowledge you with Desire, Passion and Excitement. </p>


        <form class="container-fluid col-md-9" action="" name="formmemb" (ngSubmit)="onSubmit()" #formmemb="ngForm">

          <div class="form-group row d-flex align-items-center">
            <div class="col-sm-4">

            <label class=" col-form-label">CHOOSE RELATIONSHIP </label>
            </div>
            <!-- ADD id="typeRelation"-->

            <select class="form-control col-sm-8 " id="typeRelation" ngModel name="typeRelation">

              <option value="">Select your Match</option>
              <option *ngFor="let typRel of typeRelation" [value]="typRel.id">{{typRel.description}}</option>

            </select>
          </div>

          <p class="h4"> Explore </p>
          <div class="row">
            <div class="col-4">
              <label>Invitation ID Code </label>
            </div>

            <div class="col-4">
              <input id="invitationCode" type="number" required class="w-75">
            </div>

            <div class="col-4">
              <label class=" justify-content-end ">If no one invited you, use ID Code 100</label>
            </div>
          </div>

          <div class="form-group row d-flex align-items-center field-form">
            <div class="col-sm-3">

            <label for="name" class="col-form-label"> User Name </label>
            </div>
              <div class="col-sm-9">
              <input id="name"
                     name="userName"
                     type="text"
                     ngModel name="name"
                     class="form-control"
                     placeholder="Insert your name"
                     required>
            </div>
          </div>

          <div class="form-group row d-flex align-items-center field-form">
            <div class="col-sm-3">

            <label for="password" class=" col-form-label">Password</label>
            </div>
              <div class="col-sm-9">
              <input id="password" ngModel name="password" type="password"
                     class="form-control" placeholder="Password"
                     required>
            </div>
          </div>

          <!-- ADD id="country" -->

          <div class="form-group row d-flex align-items-center field-form">
            <div class="col-sm-3">

              <label class=" col-form-label"> Country</label>
            </div>
            <div class=" col-sm-9">
              <select name="country" class="form-control" id="country" ngModel name="country">
                <!-- show mock-country  -->
                <option value="">Select country</option>
                <option *ngFor="let country of countries" [value]="country">
                  {{country.name}}
                </option>
              </select>
            </div>
          </div>

          <!-- ADD id="state" should change when select the country -->

          <div class="form-group row d-flex align-items-center field-form">
            <div class="col-sm-3">

              <label class=" col-form-label"> State</label>
            </div>
            <div class=" col-sm-3">
              <select [ngClass]="{ 'hidden' : formHidden }" name="state" class="form-control">
                <!-- add selected condition -->
                <option *ngFor="let country of statesUsa">
                  {{country.name}}
                </option>
              </select>
            </div>
            <div class="col-sm-3">

              <label for="postalZipCode" class=" col-form-label"> Postal Zip Code</label>
            </div>
            <div class="col-sm-3">
              <input id="postalZipCode" type="text" class="form-control" placeholder=" ">
            </div>
          </div>

          <div class="form-group row d-flex align-items-center field-form">
            <div class="col-sm-3">

              <label for="dateOfBirth" class=" col-form-label"> Date of Birth </label>
            </div>
            <div class="col-sm-9">
              <input id="dateOfBirth" type="date" class="form-control" ngModel name="dateOfBirth"/>
            </div>
          </div>

          <div class="form-group row d-flex align-items-center field-form">
            <div class="col-sm-3">

              <label for="age" class=" col-form-label"> Age </label>
            </div>
            <div class="col-sm-9 text-left">
              <input class="form-control" id="age"
                     readonly type="text" [value]="CalculateAge()">
            </div>
          </div>

          <!-- ADD id="zodiacSign" -->

          <div class="form-group row d-flex align-items-center field-form">
            <div class="col-sm-3">

              <label class="col-form-label"> Zodiac Sign</label>
            </div>
            <div class="col-sm-9">
              <select class="form-control " name="zodiac">
                <option value="" disabled selected>--Please Select--</option>
                <option value="aries">Aries (March 21 - April 19)</option>
                <option value="taurus">Taurus (April 20 - May 20)</option>
                <option value="gemini">Gemini (May 21 - June 20)</option>
                <option value="cancer">Cancer (June 21 - July 22)</option>
                <option value="leo">Leo (July 23 - August 22)</option>
                <option value="virgo">Virgo (August 23 - September 22)</option>
                <option value="libra">Libra (September 23 - October 22)</option>
                <option value="scorpio">Scorpio (October 23 - November 21)</option>
                <option value="sagittarius">Sagittarius (November 22 - December 21)</option>
                <option value="capricorn">Capricorn (December 22 - January 19)</option>
                <option value="aquarius">Aquarius (January 20 - February 18)</option>
                <option value="pisces">Pisces (February 19 - March 20)</option>
              </select>
            </div>
          </div>

          <!-- ADD id="raceEthnic" -->

          <div class="form-group row d-flex align-items-center field-form">
            <div class="col-sm-3">
              <label class="col-form-label"> Race /Ethnic</label>

            </div>
            <div class="col-sm-9">
              <select class="form-control " name="chooseRelationship">
                <option value="" disabled selected>I identify my ethnicity as:</option>
                <option value="">Asian</option>
                <option value="">Black/African</option>
                <option value="">Caucasian</option>
                <option value="">Hispanic/Latino</option>
                <option value="">Native American</option>
                <option value="">Pacific Islander</option>
                <option value="">Mixed Race</option>
                <option value="">Other</option>
              </select>
            </div>
          </div>

          <div class="form-group row d-flex align-items-center field-form">
            <div class="col-sm-3">
              <label for="email" class="col-form-label"> Email</label>
              <!-- icon -->
              <i class="fa fa-check-circle check" *ngIf="email.valid"></i>
              <i class="fa fa-exclamation-circle uncheck" *ngIf="email.invalid && email.touched"></i>

            </div>

            <div class="col-sm-9">
              <input type="email"
                     class="form-control"
                     id="email"
                     required
                     ngModel
                     name="email"
                     email #email="ngModel">
            </div>
          </div>

          <div class="form-group">
            <label>For maximum discretion we recommend using an email specific to this account.
            </label>
          </div>
          <div class="d-flex p-2 bd-highlight row checkBox ">
            <div class="p-2 bd-highlight">
              <input type="checkbox" name="verifyage" value="">
            </div>
            <div class="p-2 bd-highlight">
              <label> I am 18 years or older </label>
            </div>
          </div>


          <div class="d-flex p-2 bd-highlight row checkBox">
            <div class="p-2 bd-highlight">
              <input type="checkbox" name="chtermsandconditions" value="1">
            </div>
            <div class="p-2 bd-highlight">
              <label class="text-left"> I have read the La Femme Policy and <br>agree
                to all
                <a routerLink="/termAndCondition">terms and
                  conditions </a></label>
            </div>
          </div>


          <div class="d-flex justify-content-end">
            <!-- ACTIVE WHEN THE INPUTS ARE VALID-->
            <button type="submit" class="btn btn-light btn-lg btn-block"> I Agree</button>


          </div>
          <!--          <p class="alert alert-danger " *ngIf="!formmemb.valid"> Please complete all fileds</p>-->

        </form>

      </div>
    </main>

    <footer class="m-0 p-0">
      <app-sign-in-footer></app-sign-in-footer>
    </footer>


  </div>
</div>
