<div class="body-back">
  <div class="body-width container">

    <div class="sticky-top m-0 p-0">
      <app-dating-lafemme-header></app-dating-lafemme-header>
    </div>

    <main class="row p-2">
      <div class="row section1 border d-flex align-items-center">
        <div class="col-2">
          <img class="rounded float-left genImg" src="assets/image/LF31.jpg">
        </div>
        <div class="col-md-8 col-sm-12 d-flex flex-column text-center">
          <h5 class=" p-2 pt-4 text-center col-sm-12 col-md-12">DATING AT LA FEMME</h5>
          <p class="h6 text-left col-sm-12 col-md-12">Secret desires ignite the circuits to our highest potential to enjoy our lives as we
            see it. Life is too short, enjoy every moment of it.</p>
        </div>
        <div class="col-2 text-right">
          <img class="rounded float-right genImg" src="assets/image/LF32.jpg">
        </div>
      </div>

      <div class="container-fluid d-flex justify-content-between section2 imgOneContent">
        <img class="img-thumbnail imgOne" src="assets/image/LF35.jpg">
        <img class="img-thumbnail imgTwo" src="assets/image/LF05.jpg">
        <img class="img-thumbnail imgThree" src="assets/image/LF36.jpg">
      </div>

      <div class="row section3">
        <p>Le Femme provides you with a place to meet fun, sexy, interesting men and women who are seeking the ideal
          partner. They understand the value of discretion and want to explore each other’s wildest fantasies. If you
          are attracted to someone, we make it easy to connect and explore each other’s desires. </p>

        <p>With the majority of users looking for interaction that is sexual in nature, La Femme caters to over eight
          relationship types. Browse through our options and choose the relationship you desire most. Here you can
          expect to find someone that satisfies all of your needs and desires. Secret passions ignite the circuits of
          our highest potential to enjoy our lives as we see it. Life is too short, you should enjoy every moment of it!
        </p>

        <p>Le Femme uses an unique algorithm called the Compatibility Matching System (CMS). It takes into account
          exactly what you want through your selected preferences made when you sign up. It will monitor your on-site
          habits and present potential partners based on this information. </p>

        <p>This site includes a neat travel feature that will announce your travel plans to the local members of your
          destination. Update your travel calendar and Le Femme will notify members of your indicated destination of
          your arrival. </p>

      </div>
      <div class="container-fluid d-flex justify-content-between section2 imgOneContent">
        <img class="img-thumbnail  imgTwo" src="assets/image/LF48.jpg">
        <img class="img-thumbnail  " src="assets/image/LF49.jpg">
        <img class="img-thumbnail  " src="assets/image/LF50.jpg">
      </div>
      <div class="row section4 d-flex justify-content-center ">
        <p class="h6 pt-2"> Sign Up.. Is FREE plus you get 200 free credits as a welcome bonus </p>
        <button routerLink="/affiliateSignUp" type="button" class="btn btn-secondary ml-3">Click Here</button>
      </div>
    </main>
    <app-about-us-footer></app-about-us-footer>
  </div>
</div>
