
/* main */

main{
  background-color: white;
}
.section1 {
  margin: 1em 0em 1em 0em;
  height: 8em;
}
.genImg{
  height: 7em;
}
main p{
  font-size: 0.8rem;
  text-align: justify;
}
.section2{
  height: 12em;
  margin: 1em 0em 1em 0em;

}
.section2 img{
  height: 10rem;
}

.section3 {
  margin: 1em;
}

.section4 {
  margin: 2em;
}
/* main */

