<div class="body-back">
  <div class="body-width container">
    <header class=" sticky-top row d-flex justify-content-around">

      <div class="col-md-5 ">
        <img src="assets/image/LF289.png" class="rounded float-left">
        <p class=" mt-3" id="logo-text"> Fantasies.......<br>Everybody has One!</p>
      </div>

      <div class="col-md-5 p-3">
        <p class="text-left h4"> If you don't want to awake your desires...<br> If you don't want to be seduced.... </p>
        <p class="text-right font-italic h4"> Please, please....<br> Look elsewhere!</p>
      </div>

      <div class="col-md-2 pt-1">
        <div class="row">

          <li><a routerLink="/datingLafemme">Dating at La Femme</a></li>


          <li><a routerLink="/affiliateProgram">Affiliate Program</a></li>

        </div>
        <div class="row">
          <img id="sub-img" class="text-center" src="assets/image/LF29.png" alt="">
        </div>
        <div class="row">
          <p class="text-center  "> Here you'll find your person that meets every fantasy and desire</p>

        </div>
      </div>

    </header>

    <main class="row">
      <div class="row section1">
        <div class="col-2">
          <img class="rounded float-left genImg" src="assets/image/LF31.jpg">
        </div>
        <div class="col-8 d-flex flex-column text-center">
          <h5 class=" p-2 text-center">DATING AT LA FEMME</h5>
          <p class="h6 text-center">Secret desires ignites the circuits of our highest potential to enjoy our lives as we see it.
            Life
            is too short. enjoy every moment of it.</p>
        </div>
        <div class="col-2 text-right">
          <img class="rounded float-right genImg" src="assets/image/LF32.jpg">
        </div>
      </div>

      <div class="container d-flex justify-content-between section2">
        <img class="img-fluid " src="assets/image/LF35.jpg">
        <img class="img-fluid " src="assets/image/LF05.jpg">
        <img class="img-fluid " src="assets/image/LF36.jpg">
      </div>

      <div class="row section3">
        <p>La femme is the place to meet snazzy men and women whom are Seeking for the Ideal Partner that Knows the
          Value
          of Discretion of an Intelligent person who wants to Share his or her time with you. At La femme, if You Like
          Someone... Is Easy to Become Emotionally Connected. Then you meet and Live Your Fantasy; with Desire, Passion
          and Excitement </p>
        <p>At La femme you will find people looking for those who are already in relationships, whether it is open or
          committed. La Femme offers 8 types of relationships.We have the type of relationship for everyone. Our theme
          is
          pretty self explanatory, with the majority of users looking for interaction that tend tobe sensual in nature.
        </p>
        <p>As we said before, we believe we have the relationship you are looking for. From attached people to Sugar
          Daddies and all sexual preferences Here you can expect to find someone that caters for you needs. </p>
        <p>La Femme has a unique algorithm called the (CMS) Compatibility Matching System which takes into account what
          exactly you want throught your preferences. It also monitors your on-site habits, and then presents potential
          partners touser based on this information. At La femme you'll find a nifty feature called TRAVEL CALENDAR, for
          you to announce your future travels to places and dates, then the sistem will send a travel note to the local
          members to where you will be traveling, so that the locals can contact you and perhaps meet with you.</p>

      </div>
      <div class="container d-flex justify-content-between section2">
        <img class="img-fluid h-100" src="assets/image/LF48.jpg">
        <img class="img-fluid h-100" src="assets/image/LF49.jpg">
        <img class="img-fluid h-100" src="assets/image/LF50.jpg">
      </div>
      <div class="row section4 d-flex justify-content-center ">
        <p class="h6 pt-2"> Sign Up.... Is FREE plus you get 200 free credits as a welcome bonus </p>
        <button routerLink="/affiliateSignUp" type="button" class="btn btn-secondary ml-3">Click Here</button>
      </div>
    </main>

    <footer class="row ">
      <div class="col-10 d-flex justify-content-around ">

        <div class="row ">
          <div class="col-3">
            <p class=" h4 pt-3 font-italic "> A Touch of <br> Class</p>
          </div>
          <div class="col-9 d-flex flex-wrap pt-3 ">
            <div>
              <img class="mini-icon" src="assets/image/icon/icon11.png">
              <small class="">Safe, Secure and Anonymous</small>
            </div>
            <div>
              <img class="mini-icon" src="assets/image/icon/icon11.png">
              <small class="">Real People, we verify Profiles</small>
            </div>
            <div>
              <img class="mini-icon" src="assets/image/icon/icon11.png">
              <small class="">Designed Specially for Extramarital Encounters</small>
            </div>
          </div>

          <div class="row d-flex col-12 justify-content-between">
            <small class="pl-3">Secret desires ignites the circuits of our highest potential to enjoy our
              lives as we see it. Life is too short, enjoy every moment of it.
            </small>

          </div>

        </div>
      </div>
      <div class="col-2 d-flex align-items-baseline ">
        <img class=" mid-icon mr-2" src="assets/image/icon/icon10.png">
        <img class="footer-img float-right" src="assets/image/LF37.jpg">
      </div>

    </footer>
  </div>
</div>
