<div class="body-back">
  <div class="body-width container">

    <!-- Header "Creating Profile"-->
    <div class="sticky-top">
      header
    </div>
    <!-- Header "Creating Profile"-->

    <main class="row">
      <section>
        <div class="row">
          <p class="h4 text-left pl-2">Tell us more about you.</p>
        </div>
        <div class="row">
          <div class="col-6 p-4">
            <form action="">
              <div class="form-group row d-flex align-items-center ">
                <label for="" class="col-sm-4 col-form-label"> I'm looking for </label>
                <select class="form-control col-sm-8" name="imLookingFor">
                  <option selected value="Undecided"> Undecided </option>
                  <option value="Limits"> Limits </option>
                  <option value="SomethingShortTerm"> Something Short Term </option>
                  <option value="SomethingLongTerm"> Something Long Term </option>
                  <option value="CyberAffair/EroticChat"> Cyber Affair / Erotic Chat </option>
                  <option value="WhateverExcitesMe"> Whatever Excites Me </option>
                  <option value="AnythingGoes"> Anything Goes </option>
                </select>
              </div>

              <div class="form-group row d-flex align-items-center">
                <label for="" class="col-sm-4 col-form-label"> Body Type </label>
                <select class="form-control col-sm-8" name="bodyType">
                  <option selected value="Body Type"> Body Type </option>
                  <option value="Ask me"> Ask me </option>
                  <option value="Slim"> Slim </option>
                  <option value="Fit"> Fit </option>
                  <option value="Muscular"> Muscular </option>
                  <option value="Average/medium"> Average/medium </option>
                  <option value="Shapely toned"> Shapely toned </option>
                  <option value="A few extra pounds"> A few extra pounds </option>
                  <option value="Full sized"> Full sized </option>
                  <option value="Zaftig (Voluptuous/Curvy)"> zaftig (Voluptuous/Curvy) </option>
                </select>
              </div>

              <div class="form-group row d-flex align-items-center">
                <label for="" class="col-sm-2 col-form-label"> Height </label>
                <div class="col-sm-4">
                  <select class="form-control" name="height" >
                    <option selected value="Ask me"> Ask me </option>
                    <option value="4´2´´(1.27m)"> 4'2"(1.27m) </option>
                    <option value="4´4´´(1.32m)"> 4'4"(1.32m) </option>
                    <option value="4´6´´(1.37m)"> 4'6"(1.37m) </option>
                    <option value="4´8´´(1.42m)"> 4'8"(1.42m) </option>
                    <option value="4´10´´(1.47m)"> 4'10"(1.47m) </option>
                    <option value="5´0´´(1.52m)"> 5'0"(1.52m) </option>
                    <option value="5´2´´(1.57m)"> 5'2"(1.57m) </option>
                    <option value="5´4´´(1.63m)"> 5'4"(1.63m) </option>
                    <option value="5´6´´(1.68m)"> 5'6"(1.68m) </option>
                    <option value="5´8´´(1.73m)"> 5'8"(1.73m) </option>
                    <option value="5´10´´(1.78m)"> 5'10"(1.78m) </option>
                    <option value="6´0´´(1.82m)"> 6'0"(1.82m) </option>
                    <option value="6´2´´(1.87m)"> 6'2"(1.87m) </option>
                    <option value="6´4´´(1.93m)"> 6'4"(1.93m) </option>
                    <option value="6´6´´(1.98m)"> 6'6"(1.98m) </option>
                    <option value="6´8´´(2.03m)"> 6'8"(2.03m) </option>
                    <option value="6´10´´(2.08m)"> 6'10"(2.08m) </option>
                    <option value="7´0´´(2.13m)"> 7'0"(2.13m) </option>
                  </select>
                </div>
                <label for="" class="col-sm-2 col-form-label"> Weight </label>
                <div class="col-sm-4">
                  <select class="form-control" name="weight" >
                    <option selected value="Ask me"> Ask me </option>
                    <option value="80 lbs (36 kg)"> 80 lbs (36 kg) </option>
                    <option value="85 lbs (38 kg)"> 85 lbs (38 kg) </option>
                    <option value="90 lbs (40 kg)"> 90 lbs (40 kg) </option>
                    <option value="95 lbs (43 kg)"> 95 lbs (43 kg) </option>
                    <option value="100 lbs (45 kg)"> 100 lbs (45 kg) </option>
                    <option value="105 lbs (47 kg"> 105 lbs (47 kg) </option>
                    <option value="110 lbs (49 kg)"> 110 lbs (49 kg) </option>
                    <option value="115 lbs (52 kg)"> 115 lbs (52 kg) </option>
                    <option value="120 lbs (54 kg)"> 120 lbs (54 kg) </option>
                    <option value="125 lbs (56 kg)"> 125 lbs (56 kg) </option>
                    <option value="130 lbs (58 kg)"> 130 lbs (58 kg) </option>
                    <option value="135 lbs (61 kg)"> 135 lbs (61 kg) </option>
                    <option value="140 lbs (63 kg)"> 140 lbs (63 kg) </option>
                    <option value="145 lbs (65 kg)"> 145 lbs (65 kg) </option>
                    <option value="150 lbs (68 kg)"> 150 lbs (68 kg) </option>
                    <option value="155 lbs (70 kg)"> 155 lbs (70 kg) </option>
                    <option value="160 lbs (72 kg)"> 160 lbs (72 kg) </option>
                    <option value="165 lbs (74 kg)"> 165 lbs (74 kg) </option>
                    <option value="170 lbs (77 kg)"> 170 lbs (77 kg) </option>
                    <option value="175 lbs (79 kg)"> 175 lbs (79 kg) </option>
                    <option value="180 lbs (81 kg)"> 180 lbs (81 kg) </option>
                    <option value="185 lbs (83 kg)"> 185 lbs (83 kg) </option>
                    <option value="190 lbs (86 kg)"> 190 lbs (86 kg) </option>
                    <option value="195 lbs (88 kg)"> 195 lbs (88 kg) </option>
                    <option value="200 lbs (90 kg)"> 200 lbs (90 kg) </option>
                    <option value="205 lbs (92 kg)"> 205 lbs (92 kg) </option>
                    <option value="210 lbs (95 kg)"> 210 lbs (95 kg) </option>
                    <option value="215 lbs (97 kg)"> 215 lbs (97 kg) </option>
                    <option value="220 lbs (99 kg)"> 220 lbs (99 kg) </option>
                    <option value="225 lbs (102 kg)"> 225 lbs (102 kg) </option>
                    <option value="230 lbs (104 kg)"> 230 lbs (104 kg) </option>
                    <option value="235 lbs (106 kg)"> 235 lbs (106 kg) </option>
                    <option value="240 lbs (108 kg)"> 240 lbs (108 kg) </option>
                    <option value="245 lbs (111 kg)"> 245 lbs (111 kg) </option>
                    <option value="250 lbs (113 kg)"> 250 lbs (113 kg) </option>
                    <option value="255 lbs (115 kg)"> 255 lbs (115 kg) </option>
                    <option value="260 lbs (117 kg)"> 260 lbs (117 kg) </option>
                    <option value="265 lbs (120 kg)"> 265 lbs (120 kg) </option>
                    <option value="270 lbs (122 kg)"> 270 lbs (122 kg) </option>
                    <option value="275 lbs (124 kg)"> 275 lbs (124 kg) </option>
                    <option value="280 lbs (127 kg)"> 280 lbs (127 kg) </option>
                    <option value="285 lbs (129 kg)"> 285 lbs (129 kg) </option>
                    <option value="290 lbs (131 kg)"> 290 lbs (131 kg) </option>
                    <option value="295 lbs (133 kg)"> 295 lbs (133 kg) </option>
                    <option value="300 lbs (136 kg)"> 300 lbs (136 kg) </option>
                  </select>
                </div>
              </div>

              <div class="form-group row d-flex align-items-center">
                <label for="" class="col-sm-3 col-form-label"> Color Eyes </label>
                <div class="col-sm-3">
                  <select class="form-control" name="" >
                    <option value="Amber">Amber</option>
                    <option value="Blue ">Blue </option>
                    <option value="Brown">Brown</option>
                    <option value="Green">Green</option>
                    <option value="Hazel">Hazel</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
                <label for="" class="col-sm-3 col-form-label"> Hair Color </label>
                <div class="col-sm-3">
                  <select class="form-control" name="" >
                    <option value="Black">Black</option>
                    <option value="Blonde">Blonde</option>
                    <option value="Brown">Brown</option>
                    <option value="Red">Red</option>
                    <option value="White">White</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
              </div>

              <div class="form-group row d-flex align-items-center">
                <label for="" class="col-sm-3 col-form-label"> Hair Length </label>
                <div class="col-sm-3">
                  <select class="form-control" name="hairLength" >
                    <option value="long">Long</option>
                    <option value="Medium">Medium</option>
                    <option value="Short">Short</option>
                  </select>
                </div>
                <label for="" class="col-sm-3 col-form-label"> Tattoos? </label>
                <div class="col-sm-3">
                  <select class="form-control" name="tatoos" id="">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                  </select>
                </div>
              </div>
            </form>
          </div>

          <div class="col-6 p-4">
            <div class="row sec-right mb-3">
              <h5> Greeting</h5>
              <textarea class="h-75 w-100" type="text"
                        value="Hello"> Hello...</textarea>
            </div>

            <div class="row sec-right">
              <h5> Terms & Conditions</h5>
              <div>
                <p class="p-1 text-justify"><strong>Terms and conditions</strong> The following terms and
                  conditions are
                  offered in
                  English as we operate under US law. <strong>This website is free to join plus you are
                    given
                    200 FREE Credits to start.</strong><br><strong>You will be able to join and
                    arrange dates with other
                    members.</strong>
                  <strong>The Company:</strong> Refers to La Femme1.com <strong> Member/Members: </strong>
                  A
                  person or persons using <strong>site The Website:</strong> The website you are currently
                  viewing.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <div class="row mr-1">
              <div class="col-md-6 d-flex align-items-end">
                <p class="h6">By submitting this form you accept all Terms & Conditions</p>
              </div>

              <div class="col-md-6 ">

                <div class="d-flex justify-content-end">
                  <button type="file" class="btn btn-outline-secondary btn-sm m-1"> <a
                    routerLink="/relType1">Upload Photo </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>



      </section>

    </main>



    <footer class="row">
      <div class="align-self-center"><img src="https://shapellsjerusalem.com/wp-content/uploads/Check.png">Safe,
        Secure and Anonymous </div>
      <div class="align-self-center"><img src="https://shapellsjerusalem.com/wp-content/uploads/Check.png"> Real
        People, we verify Profiles </div>
      <div class="align-self-center"><img src="https://shapellsjerusalem.com/wp-content/uploads/Check.png">
        Designed Specially for Extramarital Encounters </div>
    </footer>


  </div>
</div>
