<div class="body-back">
  <div class="body-width container p-0">

    <header class="container-fluid">

      <div class="row  d-flex justify-content-around ">
        <div class="col-md-2 ">
          <img src="assets/image/LF28.png">
        </div>

        <div class="col-md-4 d-flex justify-content align-items-center">
          <p class="h5" id="logo-text"> Your personal <br>La Femme Marketing<br>
            Affiliate Account</p>
        </div>


        <div class="col-md-2">

        </div>

        <div class="col-md-4">
          <div class="row">
            <div class="col-10 border-right">
              <p>Marketing Affiliate Program</p>
            </div>
            <div class="col-2"></div>

          </div>
          <div class="row border-top">
            <div class="col-10 border-right">
              <p class="h3 ">La Femme</p>
            </div>
            <div class="col-2"></div>

          </div>

        </div>

      </div>
      <div class="row p-0 d-flex justify-content-center border-bottom">
        <h4 >Create an Account</h4>
      </div>

    </header>

    <main class="container-fluid">
      <div class="row pt-5">
        <p class="col-5">Create User's Name and Password</p>
        <p class="col-3">New Marketing Affiliates</p>
        <p class="col-4"></p>
      </div>
      <div class="row">
        <div class="col-5">
          <form action="">
            <p class="text-left h1">1</p>
            <br>
            <div class="form-group">
              <label for="userName">User Name</label>
              <input type="text" class="form-control" id="userName" aria-describedby="" placeholder="Enter User Name">
            </div>
            <br>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" aria-describedby=""
                     placeholder="Enter Password">
              <small id="password1" class="form-text text-muted">(Must be at least 8 characters long)</small>
            </div>
            <br><br>
            <div class="form-group">
              <label for="cpassword">Password Confirmation</label>
              <input type="password" class="form-control" id="cpassword" aria-describedby=""
                     placeholder="Enter Password">
              <small id="cpassword1" class="form-text text-muted">(Please re-type your password)</small>
            </div>
            <br><br><br><br>
            <div class="form-group">
              <label for="sec-question">Security Question</label>
              <select class="form-control" id="sec-question" placeholder="">
                <option checked disabled>Please Select</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              <small id="sec-question1" class="form-text text-muted">(If you forget your login details, we will ask you
                this security question)
              </small>
            </div>
            <br><br>
            <div class="form-group">
              <label for="sec-answer">Security Answer</label>
              <select class="form-control" id="sec-answer" placeholder="">
                <option checked disabled>Please Select</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              <small id="sec-answer1" class="form-text text-muted">(Your answer to this security question will identify
                you as the owner of this account)
              </small>
            </div>
            <br><br>
            <p class="h3">Business Activity</p>
            <p>How are going to be able to acquire the business activity you intend to send to La Femme?</p>

            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="own-website">
              <label class="form-check-label" for="own-website">I have my own website</label>
            </div>

            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="purchase-website">
              <label class="form-check-label" for="purchase-website">I will purchase ad space on other website</label>
            </div>

            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="prom-email">
              <label class="form-check-label" for="prom-email">I promote using emails list</label>

            </div>
            <br>
          </form>
        </div>
        <div class="col-2">
          <img class="img-fluid" src="assets/image/LF47.jpg">
        </div>
        <div class="col-5">
          <form action="">
            <p class="text-right h1">2</p>
            <p class="h3">Your Information</p>

            <div class="form-group">
              <label for="FirstName">First Name</label>
              <input type="text" class="form-control" id="FirstName" aria-describedby="" placeholder="">
            </div>

            <div class="form-group">
              <label for="LastName">Last Name</label>
              <input type="text" class="form-control" id="LastName" aria-describedby="" placeholder="">
            </div>

            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" class="form-control" id="email" aria-describedby="" placeholder="sample@sample.com">
            </div>

            <div class="form-group">
              <label for="PhoneNumber">Phone Number</label>
              <input type="text" class="form-control" id="PhoneNumber" aria-describedby="" placeholder="">
            </div>

            <div class="form-group">
              <label for="LastName">Website - Personal or Company</label>
              <input type="text" class="form-control" aria-describedby="" placeholder="">
            </div>

            <div class="form-group">
              <label for="LastName">Mailing Address</label>
              <input type="text" class="form-control" aria-describedby="" placeholder="">
              <input type="text" class="form-control" aria-describedby="" placeholder="">
            </div>

            <div class="form-group">
              <label for="LastName">City</label>
              <input type="text" class="form-control" aria-describedby="" placeholder="">
            </div>

            <div class="form-group">
              <label for="LastName">State/Province Country</label>
              <input type="text" class="form-control" aria-describedby="" placeholder="">
            </div>
            <p>(International Marketing Affiliates Choose Other)</p>

            <div class="form-group">
              <label for="LastName">(If Other, please specify)</label>
              <input type="text" class="form-control" aria-describedby="" placeholder="">
            </div>

            <div class="form-group">
              <label for="LastName">Country</label>
              <input type="text" class="form-control" aria-describedby="" placeholder="">
            </div>

            <div class="form-group">
              <label for="LastName">Zip Code / Postal Code</label>
              <input type="text" class="form-control" aria-describedby="" placeholder="">
            </div>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-5">
          <form action="">
            <p class="text-left h1">3</p>
            <br>
            <p>Choose the way to pay you</p>
            <p>( Commissions are paid in US Dollars )</p>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="bank-wire">
              <label class="form-check-label" for="bank-wire">Bank Wire Transfer</label>
            </div>

            <div class="form-group">
              <label for="NameAccount">Name on the Account (Personal or Company)</label>
              <input type="text" class="form-control" id="NameAccount" aria-describedby="" placeholder="">
            </div>

            <div class="form-group">
              <label for="AddressAcount">Address of the Person or Company</label>
              <input type="text" class="form-control" id="AddressAcount" aria-describedby="" placeholder="">
            </div>
            <br><br>
            <div class="form-group">
              <label for="BankName">Bank Name</label>
              <input type="text" class="form-control" id="BankName" aria-describedby="" placeholder="">
            </div>
            <br>
            <div class="form-group">
              <label for="BankAddress">Bank Address</label>
              <input type="text" class="form-control" id="BankAddress" aria-describedby="" placeholder="">
            </div>
            <br>
          </form>
        </div>
        <div class="col-2"></div>
        <div class="col-5">
          <form action="">
            <p class="text-right h1">4</p>
            <p>For Bank Wire Transfer we need</p>

            <div class="form-group">
              <label>SWIFT Code</label>
              <input type="" class="form-control" aria-describedby="" placeholder="Enter Password">
              <small class="form-text text-muted">A SWIFT code is a popular term for Bank Identifier
                Code (BIC). SWIFT stands for the Society for Worldwide Interbank Financial Telecommunication.
                It is an eight-or 11-digit code that identifies your country, city, bank, and (11-digit only)
                branch.
              </small>
            </div>

            <div class="form-group">
              <label>Account number or IBAN</label>
              <input type="" class="form-control" aria-describedby="" placeholder="Enter Password">
              <small class="form-text text-muted">IBAN stands for International Bank Account Number
                and is a number attached to all in the EU countries plus Norway, Switzerland, Liechtenstein
                and Hungary.The IBAN is made up of a code that identifies the country the account belongs to,
                the account holder's bank and the account number itself.
              </small>
            </div>

            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input">
              <label class="form-check-label" for="prom-email">PayPal Money Transfer</label>
            </div>

            <div class="form-group">
              <label for="BankAddress">PayPal Account Number</label>
              <input type="text" class="form-control" aria-describedby="" placeholder="">
            </div>

            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input">
              <label class="form-check-label" for="prom-email">We require a Photo of you, passport Style photo.
                Please send it to HR@PardoInternational.com att: Ms. Melissa Walker</label>
            </div>

            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input">
              <label class="form-check-label" for="prom-email">I accept La femme Marketing Affiliate Agreement</label>
            </div>

          </form>
        </div>
      </div>
      <div class="row">


        <div class="col-5"></div>
        <div class="col-2"></div>
        <div class="col-5">
          <button type="button" class="btn btn-secondary">SIGN UP NOW</button>
        </div>
      </div>
    </main>

  </div>
</div>
