<header class="">
  <div class="row ">
    <div class="col-md-1 ">
      <img src="assets//image/LF28.png" class="rounded float-left">
    </div>

    <div class="col-md-3 pl-5 ">
      <h3 class=""> La Femme </h3>
      <h6 class="">Private Affairs Club</h6>
      <p class="">In this Club you’ll find sexy, interesting Men & Women </p>
    </div>

    <div class="col-md-6  p-0 ">
      <h3 class="d-flex p-3 justify-content-center"> MAIL BOX </h3>
      <span class="d-flex  justify-content-center  p-0"> Secret desires ignite the circuits of our highest potential to
            enjoy our lives as we see it. <br>
            Life is too short, enjoy every moment of it!</span>
    </div>
    <div class="col-md-2">
      <img src="assets/image/LF290.png" class="rounded float-left">
    </div>
  </div>
</header>
