@media (max-width: 575.98px) {
  /* header "MailBox"*/
  .px1200 {
    display: none !important;
  }

  .px575 {
    background-color: black;
    color: white;
  }

  .px575 h4 {
    font-family: 'Futura Md BT', Tahoma, Geneva, Verdana, sans-serif;

  }

  /* header "MailBox"*/
}


@media (min-width: 576px) and (max-width: 767.98px) {
  /* header "MailBox"*/
  .px1200 {
    display: none !important;
  }

  .px575 {
    background-color: black;
    color: white;
  }

  .px575 h4 {
    font-family: 'Futura Md BT', Tahoma, Geneva, Verdana, sans-serif;

  }

  /* header "MailBox"*/
}


@media (min-width: 768px) and (max-width: 991.98px) {
  /* header "MailBox"*/
  header {
    background-color: black;
    color: white;
    height: 8rem;

  }

  header p {
    font-size: 0.72rem;
  }

  header span {
    font-size: 0.72rem;
  }

  header img {
    height: 7rem;
  }

  h3 {
    font-size: 1.5rem !important;
  }

  h6 {
    font-size: 0.9rem !important;
  }

  /* logo */
  #sub-img {
    height: 4rem;
  }

  #logo-text {
    position: absolute;
    right: 45px;
    top: 60px;
  }

  .px575 {
    display: none;
  }

  /* header "MailBox"*/
}


@media (min-width: 992px) and (max-width: 1199.98px) {
  /* header "MailBox"*/
  header {
    background-color: black;
    color: white;
    height: 8rem;

  }

  header p {
    font-size: 0.72rem;
  }

  header span {
    font-size: 0.72rem;
  }

  header img {
    height: 7rem;
  }

  /* logo */
  #sub-img {
    height: 4rem;
  }

  #logo-text {
    position: absolute;
    right: 45px;
    top: 60px;
  }

  .px575 {
    display: none;
  }

  /* header "MailBox"*/
}


@media (min-width: 1200px) {
  /* header "MailBox"*/
  header {
    background-color: black;
    color: white;
    height: 8rem;

  }

  header p {
    font-size: 0.72rem;
  }

  header span {
    font-size: 0.72rem;
  }

  header img {
    height: 7rem;
  }

  /* logo */
  #sub-img {
    height: 4rem;
  }

  #logo-text {
    position: absolute;
    right: 45px;
    top: 60px;
  }

  .px575 {
    display: none;
  }

  /* header "MailBox"*/
}


