<div class="body-back">
  <div class="body-width container">
    <!-- Header "Manage Profile"-->
    <header class="row sticky-top">
      <div class="col-md-1">
        <img src="assets/image/LF28.png" class="rounded float-left" alt="image">
      </div>

      <div class="col-md-3 pt-1 pl-5 ">
        <p class="h3 mb-0"> La Femme </p>
        <p class="ml-3 ">Private Affairs Club</p>
        <p class="float-left m-0 h7">Here you'll find your person that meets every fantasy and desire </p>
      </div>

      <div class="col-md-5 text-center mt-3">
        <p class="h5 mt-3"> MANAGE PROFILE </p>
        <p class="h5"> COMMAND & CONTROL CENTER </p>
      </div>
      <div class="col-md-3">
        <img src="assets/image/LF29.png" class="rounded float-right" alt="image">
      </div>
    </header>
    <!-- Header "Manage Profile"-->

    <main class="row">
      <div class=" container text-center">
        <p class="h6 pt-3">Secret desires ignites the
          circuits of our highest potential to enjoy our lives as we see it.<br> Life is too short, enjoy
          every
          moment of it. </p>
      </div>


      <section class="row section1 border p-1">

        <div class="w-50 p-1  ">
          <div>
            <div class=" htop  d-flex ">
              <h5 class="pr-4">Welcome: </h5>
              <h5> {{member.name}} {{member.lastName}}</h5>
            </div>
            <div class="m-1 mb-3 proback  d-flex">

              <img id="profile-pic" class="img-thumbnail" src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg"
                   alt="">

              <div class="proback" ><!-- review the badge -->
                <p class="mt-3" style="font-size: 0.9rem;">Your profiles has been viewed <em class="badge badge-light">234</em> Times</p>
                <p class="" style="font-size: 0.9rem;">Favorite you <em class="badge badge-light">7</em> Times</p>
                <p class="" style="font-size: 0.9rem;">Liked <em class="badge badge-light">23</em></p>
              </div>

            </div>
            <div class=" m-0 p-0">
              <button routerLink="/profile" type="button" class="text-left btn btn-secondary btn-lg btn-block">View
                Profile
              </button>
              <button type="button" class="text-left btn btn-secondary btn-lg btn-block">My Account</button>
              <button routerLink="/manageProfilr" type="button" class="text-left btn btn-secondary btn-lg btn-block">Manage
                Profile
              </button>
              <button type="button" class="text-left btn btn-secondary btn-lg btn-block">Change Profile
                Picture or Avatar
              </button>
            </div>
          </div>
        </div>


        <div class="w-50 p-1 ">
          <div class=" htop ">
            <h5>View relevant information</h5>
          </div>
          <div class="p-1 ">
            <button routerLink="/mailBox" type="button" class="text-left btn btn-secondary btn-lg btn-block"><img
              src="assets/image/icon/icon1.png">Mail Box
            </button>
            <button type="button" class="text-left btn btn-secondary btn-lg btn-block"><img
              src="assets/image/icon/icon2.png">Who Likes Me
            </button>
            <button routerLink="/affiliateProgram" type="button" class="text-left btn btn-secondary btn-lg btn-block"><img
              src="assets/image/icon/icon3.png">Affiliate's Program
            </button>
            <button type="button" class="text-left btn btn-secondary btn-lg btn-block"><img
              src="assets/image/icon/icon4.png">Who Viewed Me
            </button>

            <button type="button" class="text-left btn btn-secondary btn-lg btn-block"><img
              src="assets/image/icon/icon7.png">My Contacts
            </button>
            <button type="button" class="text-left btn btn-secondary btn-lg btn-block"><img
              src="assets/image/icon/icon8.png">Search
            </button>
            <button type="button" class="text-left btn btn-secondary btn-lg btn-block"><img
              src="assets/image/icon/icon9.png">My Travel Plans
            </button>
          </div>
        </div>

      </section>

      <div class="row section2 justify-content-end m-2">
        <button routerLink="/creditPlan" class=" btnrimary btn-lg btn-secondary">
          <img src="assets/image/LF34.jpg" alt=""> Buy Credits
        </button>
      </div>

      <section class=" row section2 border p-1">

        <div class="col-6 p-1 border">
          <div class="d-flex p-2 htop ">
            <h5>Contacts</h5>
          </div>
          <div class="container c-img overflow-auto d-flex align-content-start flex-wrap">
            <img class="avatar-contact" src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg" alt="">
            <img class="avatar-contact" src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg" alt="">
            <img class="avatar-contact" src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg" alt="">
            <img class="avatar-contact" src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg" alt="">
            <img class="avatar-contact" src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg" alt="">
            <img class="avatar-contact" src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg" alt="">
            <img class="avatar-contact" src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg" alt="">
            <img class="avatar-contact" src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg" alt="">
            <img class="avatar-contact" src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg" alt="">
            <img class="avatar-contact" src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg" alt="">
            <img class="avatar-contact" src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg" alt="">
            <img class="avatar-contact" src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg" alt="">
            <img class="avatar-contact" src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg" alt="">
            <img class="avatar-contact" src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg" alt="">
            <img class="avatar-contact" src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg" alt="">
            <img class="avatar-contact" src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg" alt="">
            <img class="avatar-contact" src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg" alt="">
            <img class="avatar-contact" src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg" alt="">
            <img class="avatar-contact" src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg" alt="">
            <img class="avatar-contact" src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg" alt="">
            <img class="avatar-contact" src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg" alt="">
            <img class="avatar-contact" src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg" alt="">
            <img class="avatar-contact" src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg" alt="">
            <img class="avatar-contact" src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg" alt="">
          </div>
        </div>


        <div class="col-6 p-1 border">
          <div class="d-flex p-2 htop border">
            <h5>Read Below</h5>
          </div>
          <div class="control-center p-2">
            <p>This is your personal CONTROL CENTER.<br>
              All buttons above are self explanatory. </p>
            <p> Any of these links it will take you to appropriate page for the action you have chosen.</p>

          </div>
          <div class="d-flex justify-content-around border ">
            <img class="section2-img" src="assets/image/LF35.jpg" alt="">
            <img class="section2-img" src="assets/image/LF05.jpg" alt="">
            <img class="section2-img" src="assets/image/LF36.jpg" alt="">
          </div>

        </div>

      </section>

    </main>

  </div>
</div>
