<footer class="row ">
  <div class="col-10 d-flex justify-content-around ">

    <div class="row ">
      <div class="col-3">
        <p class=" h4 pt-3 font-italic "> A Touch of <br> Class</p>
      </div>
      <div class="col-9 d-flex flex-wrap pt-3 ">
        <div>
          <img class="mini-icon" src="assets/image/icon/icon11.png">
          <small class="">Safe, Secure and Anonymous</small>
        </div>
        <div>
          <img class="mini-icon" src="assets/image/icon/icon11.png">
          <small class="">Real People, we verify Profiles</small>
        </div>
        <div>
          <img class="mini-icon" src="assets/image/icon/icon11.png">
          <small class="">Designed Specially for Extramarital Encounters</small>
        </div>
      </div>

      <div class="row d-flex col-12 justify-content-between">
        <small class="pl-3 hidden">Secret desires ignites the circuits of our highest potential to enjoy our
          lives as we see it. Life is too short, enjoy every moment of it.
        </small>

      </div>

    </div>
  </div>
  <div class="col-2 d-flex align-items-baseline ">
    <img class=" mid-icon mr-2" src="assets/image/icon/icon10.png">
    <img class="footer-img float-right" src="assets/image/LF37.jpg">
  </div>

</footer>
