@media (max-width: 575.98px) {

  .px1200 {
    display: none;
  }

  .px575 {
    display: flex;
    color: white;
    justify-content: space-evenly;
    height: 6em;
    background-color: black;
    border: 1px solid white;
    padding: 0.5em;
    border-radius: 0.25em;
    font-size: 0.8rem;

  }

  .px575 img {
    width: 1em;
    height: 1em;
  }
}


@media (min-width: 576px) and (max-width: 767.98px) {

  /* footer */
  .px1200 {
    display: none;
  }

  .px575 {
    display: flex;
    color: white;
    justify-content: space-evenly;
    height: 6em;
    background-color: black;
    border: 1px solid white;
    padding: 0.5em;
    border-radius: 0.25em;
    font-size: 0.8rem;

  }

  .px575 img {
    width: 1em;
    height: 1em;
  }

  /* footer */

}


@media (min-width: 768px) and (max-width: 991.98px) {

  /* footer */
  footer {
    color: white;
    background-color: rgb(25, 26, 39);
  }

  .footer-img {
    display: none;
  }

  footer h5 {
    font-size: 2em;
    font-style: italic;
  }

  .mini-icon {
    width: 1.2em;
    height: 1.2em;
  }

  .mid-icon {
    display: none;
  }

  .px575, .px575 img {
    display: none !important;
  }

  /* footer */

}


@media (min-width: 992px) and (max-width: 1199.98px) {

  /* footer */
  footer {
    color: white;
    background-color: rgb(25, 26, 39);
  }

  .footer-img {
    height: 7em;
  }

  footer h5 {
    font-size: 2em;
    font-style: italic;
  }

  .mini-icon {
    width: 1.2em;
    height: 1.2em;
  }

  .mid-icon {
    height: 1.5em;
  }

  .px575, .px575 img {
    display: none !important;
  }


  /* footer */

}


@media (min-width: 1200px) {

  /* footer */
  footer {
    color: white;
    background-color: rgb(25, 26, 39);
  }

  .footer-img {
    height: 7em;
  }

  footer h5 {
    font-size: 2em;
    font-style: italic;
  }

  .mini-icon {
    width: 1.2em;
    height: 1.2em;
  }

  .mid-icon {
    height: 1.5em;
  }

  .px575, .px575 img {
    display: none !important;
  }

  /* footer */

}


