<div class="body-back">
  <div class="body-width container p-0">


    <header class=" sticky-top ">
      <app-mail-box-header></app-mail-box-header>
    </header>
    <!-- short nav -->
    <div class="navBar">
      <app-mail-box-navbar></app-mail-box-navbar>
    </div>
    <!-- short nav -->
    <main class="container-fluid">

      <section class="row mail-content d-flex">

        <!-- lateral nav-->
       <!-- <div class="nav-lateral">
          <app-mail-box-lateralnav></app-mail-box-lateralnav>
        </div>-->
        <!--lateral nav -->

        <!--Messages-->
        <div class=" overflow-auto box-content  ">
          <app-mail-box-message></app-mail-box-message>

          <!-- column mail -->
          <app-mail-box-message></app-mail-box-message>
          <app-mail-box-message></app-mail-box-message>
          <app-mail-box-message></app-mail-box-message>
          <app-mail-box-message></app-mail-box-message>
          <app-mail-box-message></app-mail-box-message>
          <app-mail-box-message></app-mail-box-message>
          <app-mail-box-message></app-mail-box-message>
          <app-mail-box-message></app-mail-box-message>
          <app-mail-box-message></app-mail-box-message>
          <app-mail-box-message></app-mail-box-message>
          <app-mail-box-message></app-mail-box-message>
          <app-mail-box-message></app-mail-box-message>
          <app-mail-box-message></app-mail-box-message>
          <app-mail-box-message></app-mail-box-message>
          <app-mail-box-message></app-mail-box-message>
          <app-mail-box-message></app-mail-box-message>
          <app-mail-box-message></app-mail-box-message>
          <app-mail-box-message></app-mail-box-message>
          <app-mail-box-message></app-mail-box-message>
          <app-mail-box-message></app-mail-box-message>
          <app-mail-box-message></app-mail-box-message>

          <!-- column mail -->

        </div>

      </section>

    </main>


  </div>
</div>
