<div class="body-back">
  <div class="body-width container p-0">


    <header class=" sticky-top ">
      <div class="row  ">
        <div class="col-md-1 ">
          <img src="assets//image/LF28.png" class="rounded float-left">
        </div>

        <div class="col-md-3 pl-5 ">
          <p class="h3"> La Femme </p>
          <p class="h6">Private Affairs Club</p>
          <p class="">In this Club, you'll find Snazzy Men &amp; Women </p>
        </div>

        <div class="col-md-6 text-center">
          <p class="d-flex h5 pt-2 justify-content-center"> MAIL BOX </p>
          <p class="d-flex pt-3 justify-content-center"> Secret desires ignites the circuits of our highest potential
            to
            enjoy our lives
            as we see it. <br> Life is to short, enjoy every moment of it</p>
        </div>
        <div class="col-md-2">
          <img src="assets/image/LF290.png" class="rounded float-left">
        </div>
      </div>
    </header>

    <main class="container-fluid">

      <!-- short nav -->
      <nav class=" row d-flex  ">

        <div class="col-3 d-flex  justify-content-center">
          <button type="button"
                  class="btn btn-dark bttn-top d-flex flex-column align-items-center">
            <!--
            <img src="assets/image/icon/icon12.png">
            -->
            <i class="fas fa-search"></i>
            <span>Search</span>
          </button>

          <button type="button" class="btn btn-dark bttn-top d-flex flex-column align-items-center">
            <img src="assets/image/icon/icon13.png">
            <span>Log</span>
          </button>

          <button type="button" class="btn btn-dark bttn-top d-flex flex-column align-items-center">
            <img src="assets/image/icon/icon14.png">
            <span>Settings</span>
          </button>

          <button type="button" class="btn btn-dark bttn-top d-flex flex-column align-items-center">
            <img src="assets/image/icon/icon15.png">
            <span>Options</span>
          </button>

        </div>
        <div class="col-9">
          <div class="d-flex d-flex-row-reverse pt-2">
            <button type="button" class=" btn btn-dark btn-logout">LogOut</button>
          </div>
        </div>
      </nav>
      <!-- short nav -->

      <!-- sub nav -->
      <div class=" row d-flex sub-nav ">
        <div class="col-3 p-1 text-center ">
          Mail Box
        </div>
        <div class="col-9 sub-nav-right">
          <div class="row">
            <div class="col-1 p-1"></div>
            <div class="col-2 p-1">Inbox(37)</div>
            <div class="col-1 p-1">Edit</div>
            <div class="col-6 text-center p-1"> 20 of 68</div>
            <div class="col-1 p-1">
              <button type="button" class="btn btn-dark bttn-top-select d-flex  justify-content-center">
                <img src="assets/image/icon/icon17.png">
              </button>
            </div>
            <div class="col-1 p-1">
              <button type="button" class="btn btn-dark bttn-top-select d-flex  justify-content-center">
                <img src="assets/image/icon/icon18.png">
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- sub nav -->


      <section class="row mail-content">

        <!-- lateral nav -->
        <div class="col-3 p-1  nav-lateral">
          <div class=" p-1 ">
            <h2>La Femme</h2>
          </div>

          <button type="button" class="btn btn-secondary  btn-block btn-nav-lat"><img
            src="assets/image/icon/icon1-1.png">Mail Box <span class="badge badge-light">9</span>
            <span class="sr-only">unread messages</span></button>
          <button type="button" class="btn btn-secondary  btn-block btn-nav-lat"><img
            src="assets/image/icon/icon12.png">Search
          </button>
          <button type="button" class="btn btn-secondary  btn-block btn-nav-lat"><img
            src="assets/image/icon/icon20.png">Contacts
          </button>
          <button type="button" class="btn btn-secondary  btn-block btn-nav-lat"><img
            src="assets/image/icon/icon4-1.png">View Me
          </button>
          <button routerLink="/manageProfilr" type="button" class="btn btn-secondary  btn-block btn-nav-lat"><img
            src="assets/image/icon/icon14.png">Manage Profile
          </button>
          <button routerLink="/profile" type="button" class="btn btn-secondary  btn-block btn-nav-lat"><img
            src="assets/image/icon/icon4-1.png">View Profile
          </button>
          <button type="button" class="btn btn-secondary  btn-block btn-nav-lat"><img
            src="assets/image/icon/icon2-1.png">Likes Inbox
          </button>
          <button routerLink="/creditPlan" type="button" class="btn btn-secondary  btn-block btn-nav-lat"><img
            src="assets/image/icon/icon21.png">Buy Credits
          </button>
          <button type="button" class="btn btn-secondary  btn-block btn-nav-lat"><img
            src="assets/image/icon/icon9-1.png">My Travel Plans
          </button>
          <button routerLink="/affiliateProgram" type="button" class="btn btn-secondary  btn-block btn-nav-lat"><img
            src="assets/image/icon/icon22.png">Affiliate's Program
          </button>
          <div class="input-group mb-3 justify-content-end ">
            <div class="d-flex flex-column">
              <button type="button" class="btn btn-secondary  btn-nav-lat">
                Virtual Office
              </button>
              <button type="button" class="btn btn-secondary  btn-nav-lat">
                LogOut
              </button>
            </div>
          </div>
          <div class="input-group mb-3 ">
            <div class="d-flex flex-column m-3">


              <div class="form-group form-check ">
                <input type="radio" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Sent Mail History</label>
              </div>
              <div class="form-group form-check">
                <input type="radio" class="form-check-input" id="exampleCheck2">
                <label class="form-check-label" for="exampleCheck2">Recived Mail History</label>
              </div>
              <div class="form-group form-check">
                <input type="radio" class="form-check-input" id="exampleCheck3">
                <label class="form-check-label" for="exampleCheck3">All Mail History</label>
              </div>
            </div>
          </div>
        </div>
        <!-- lateral nav -->

        <!--Messages-->
        <div class="col-9 overflow-auto p-1 box-content  ">

          <div class="row box-mail  p-0 m-0">

            <div class="col-2 d-flex align-items-start flex-column  text-center  p-auto">
              <span class=" mb-auto ">ALEX 6969</span>
              <img src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg"
                   class="box-mail-avatar m-auto">
            </div>

            <div class="col-1 d-flex align-items-start flex-column  text-center p-1">
              <img class="box-mail-notification m-auto" src="assets/image/icon/icon19.png">
              <span class=" mb-auto m-auto">New</span>
            </div>

            <div class="col-8 d-flex align-items-start flex-column  text-center p-1 ">
              <span class="ml-1 "> Dec 30 2018 - <time>02 hours, 57min </time></span>
              <h6 class="h3 h-75 w-100 pl-2 text-justify "> Hi </h6>
            </div>
            <div class="col-1 d-flex ">
              <img src="assets/image/icon/icon16.png" class="mail-icons m-auto">
            </div>
          </div>

          <!-- column mail -->

          <div class="row box-mail  p-0 m-0">

            <div class="col-2 d-flex align-items-start flex-column  text-center  p-auto">
              <span class=" mb-auto ">ALEX 6969</span>
              <img src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg"
                   class="box-mail-avatar m-auto">
            </div>

            <div class="col-1 d-flex align-items-start flex-column  text-center p-1">
              <img class="box-mail-notification m-auto" src="assets/image/icon/icon19.png">
              <span class=" mb-auto m-auto">New</span>
            </div>

            <div class="col-8 d-flex align-items-start flex-column  text-center p-1 ">
              <span class="ml-1 "> Dec 30 2018 - <time>02 hours, 57min </time></span>
              <h6 class="h3 h-75 w-100 pl-2 text-justify "> Hi </h6>
            </div>
            <div class="col-1 d-flex ">
              <img src="assets/image/icon/icon16.png" class="mail-icons m-auto">
            </div>
          </div>

          <div class="row box-mail  p-0 m-0">

            <div class="col-2 d-flex align-items-start flex-column  text-center  p-auto">
              <span class=" mb-auto ">ALEX 6969</span>
              <img src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg"
                   class="box-mail-avatar m-auto">
            </div>

            <div class="col-1 d-flex align-items-start flex-column  text-center p-1">
              <img class="box-mail-notification m-auto" src="assets/image/icon/icon19.png">
              <span class=" mb-auto m-auto">New</span>
            </div>

            <div class="col-8 d-flex align-items-start flex-column  text-center p-1 ">
              <span class="ml-1 "> Dec 30 2018 - <time>02 hours, 57min </time></span>
              <h6 class="h3 h-75 w-100 pl-2 text-justify "> Hi </h6>
            </div>
            <div class="col-1 d-flex ">
              <img src="assets/image/icon/icon16.png" class="mail-icons m-auto">
            </div>
          </div>

          <div class="row box-mail  p-0 m-0">

            <div class="col-2 d-flex align-items-start flex-column  text-center  p-auto">
              <span class=" mb-auto ">ALEX 6969</span>
              <img src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg"
                   class="box-mail-avatar m-auto">
            </div>

            <div class="col-1 d-flex align-items-start flex-column  text-center p-1">
              <img class="box-mail-notification m-auto" src="assets/image/icon/icon19.png">
              <span class=" mb-auto m-auto">New</span>
            </div>

            <div class="col-8 d-flex align-items-start flex-column  text-center p-1 ">
              <span class="ml-1 "> Dec 30 2018 - <time>02 hours, 57min </time></span>
              <h6 class="h3 h-75 w-100 pl-2 text-justify "> Hi </h6>
            </div>
            <div class="col-1 d-flex ">
              <img src="assets/image/icon/icon16.png" class="mail-icons m-auto">
            </div>
          </div>

          <div class="row box-mail  p-0 m-0">

            <div class="col-2 d-flex align-items-start flex-column  text-center  p-auto">
              <span class=" mb-auto ">ALEX 6969</span>
              <img src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg"
                   class="box-mail-avatar m-auto">
            </div>

            <div class="col-1 d-flex align-items-start flex-column  text-center p-1">
              <img class="box-mail-notification m-auto" src="assets/image/icon/icon19.png">
              <span class=" mb-auto m-auto">New</span>
            </div>

            <div class="col-8 d-flex align-items-start flex-column  text-center p-1 ">
              <span class="ml-1 "> Dec 30 2018 - <time>02 hours, 57min </time></span>
              <h6 class="h3 h-75 w-100 pl-2 text-justify "> Hi </h6>
            </div>
            <div class="col-1 d-flex ">
              <img src="assets/image/icon/icon16.png" class="mail-icons m-auto">
            </div>
          </div>

          <div class="row box-mail  p-0 m-0">

            <div class="col-2 d-flex align-items-start flex-column  text-center  p-auto">
              <span class=" mb-auto ">ALEX 6969</span>
              <img src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg"
                   class="box-mail-avatar m-auto">
            </div>

            <div class="col-1 d-flex align-items-start flex-column  text-center p-1">
              <img class="box-mail-notification m-auto" src="assets/image/icon/icon19.png">
              <span class=" mb-auto m-auto">New</span>
            </div>

            <div class="col-8 d-flex align-items-start flex-column  text-center p-1 ">
              <span class="ml-1 "> Dec 30 2018 - <time>02 hours, 57min </time></span>
              <h6 class="h3 h-75 w-100 pl-2 text-justify "> Hi </h6>
            </div>
            <div class="col-1 d-flex ">
              <img src="assets/image/icon/icon16.png" class="mail-icons m-auto">
            </div>
          </div>

          <div class="row box-mail  p-0 m-0">

            <div class="col-2 d-flex align-items-start flex-column  text-center  p-auto">
              <span class=" mb-auto ">ALEX 6969</span>
              <img src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg"
                   class="box-mail-avatar m-auto">
            </div>

            <div class="col-1 d-flex align-items-start flex-column  text-center p-1">
              <img class="box-mail-notification m-auto" src="assets/image/icon/icon19.png">
              <span class=" mb-auto m-auto">New</span>
            </div>

            <div class="col-8 d-flex align-items-start flex-column  text-center p-1 ">
              <span class="ml-1 "> Dec 30 2018 - <time>02 hours, 57min </time></span>
              <h6 class="h3 h-75 w-100 pl-2 text-justify "> Hi </h6>
            </div>
            <div class="col-1 d-flex ">
              <img src="assets/image/icon/icon16.png" class="mail-icons m-auto">
            </div>
          </div>

          <div class="row box-mail  p-0 m-0">

            <div class="col-2 d-flex align-items-start flex-column  text-center  p-auto">
              <span class=" mb-auto ">ALEX 6969</span>
              <img src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg"
                   class="box-mail-avatar m-auto">
            </div>

            <div class="col-1 d-flex align-items-start flex-column  text-center p-1">
              <img class="box-mail-notification m-auto" src="assets/image/icon/icon19.png">
              <span class=" mb-auto m-auto">New</span>
            </div>

            <div class="col-8 d-flex align-items-start flex-column  text-center p-1 ">
              <span class="ml-1 "> Dec 30 2018 - <time>02 hours, 57min </time></span>
              <h6 class="h3 h-75 w-100 pl-2 text-justify "> Hi </h6>
            </div>
            <div class="col-1 d-flex ">
              <img src="assets/image/icon/icon16.png" class="mail-icons m-auto">
            </div>
          </div>

          <div class="row box-mail  p-0 m-0">

            <div class="col-2 d-flex align-items-start flex-column  text-center  p-auto">
              <span class=" mb-auto ">ALEX 6969</span>
              <img src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg"
                   class="box-mail-avatar m-auto">
            </div>

            <div class="col-1 d-flex align-items-start flex-column  text-center p-1">
              <img class="box-mail-notification m-auto" src="assets/image/icon/icon19.png">
              <span class=" mb-auto m-auto">New</span>
            </div>

            <div class="col-8 d-flex align-items-start flex-column  text-center p-1 ">
              <span class="ml-1 "> Dec 30 2018 - <time>02 hours, 57min </time></span>
              <h6 class="h3 h-75 w-100 pl-2 text-justify "> Hi </h6>
            </div>
            <div class="col-1 d-flex ">
              <img src="assets/image/icon/icon16.png" class="mail-icons m-auto">
            </div>
          </div>

          <div class="row box-mail  p-0 m-0">

            <div class="col-2 d-flex align-items-start flex-column  text-center  p-auto">
              <span class=" mb-auto ">ALEX 6969</span>
              <img src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg"
                   class="box-mail-avatar m-auto">
            </div>

            <div class="col-1 d-flex align-items-start flex-column  text-center p-1">
              <img class="box-mail-notification m-auto" src="assets/image/icon/icon19.png">
              <span class=" mb-auto m-auto">New</span>
            </div>

            <div class="col-8 d-flex align-items-start flex-column  text-center p-1 ">
              <span class="ml-1 "> Dec 30 2018 - <time>02 hours, 57min </time></span>
              <h6 class="h3 h-75 w-100 pl-2 text-justify "> Hi </h6>
            </div>
            <div class="col-1 d-flex ">
              <img src="assets/image/icon/icon16.png" class="mail-icons m-auto">
            </div>
          </div>

          <div class="row box-mail  p-0 m-0">

            <div class="col-2 d-flex align-items-start flex-column  text-center  p-auto">
              <span class=" mb-auto ">ALEX 6969</span>
              <img src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg"
                   class="box-mail-avatar m-auto">
            </div>

            <div class="col-1 d-flex align-items-start flex-column  text-center p-1">
              <img class="box-mail-notification m-auto" src="assets/image/icon/icon19.png">
              <span class=" mb-auto m-auto">New</span>
            </div>

            <div class="col-8 d-flex align-items-start flex-column  text-center p-1 ">
              <span class="ml-1 "> Dec 30 2018 - <time>02 hours, 57min </time></span>
              <h6 class="h3 h-75 w-100 pl-2 text-justify "> Hi </h6>
            </div>
            <div class="col-1 d-flex ">
              <img src="assets/image/icon/icon16.png" class="mail-icons m-auto">
            </div>
          </div>

          <div class="row box-mail  p-0 m-0">

            <div class="col-2 d-flex align-items-start flex-column  text-center  p-auto">
              <span class=" mb-auto ">ALEX 6969</span>
              <img src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg"
                   class="box-mail-avatar m-auto">
            </div>

            <div class="col-1 d-flex align-items-start flex-column  text-center p-1">
              <img class="box-mail-notification m-auto" src="assets/image/icon/icon19.png">
              <span class=" mb-auto m-auto">New</span>
            </div>

            <div class="col-8 d-flex align-items-start flex-column  text-center p-1 ">
              <span class="ml-1 "> Dec 30 2018 - <time>02 hours, 57min </time></span>
              <h6 class="h3 h-75 w-100 pl-2 text-justify "> Hi </h6>
            </div>
            <div class="col-1 d-flex ">
              <img src="assets/image/icon/icon16.png" class="mail-icons m-auto">
            </div>
          </div>

          <div class="row box-mail  p-0 m-0">

            <div class="col-2 d-flex align-items-start flex-column  text-center  p-auto">
              <span class=" mb-auto ">ALEX 6969</span>
              <img src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg"
                   class="box-mail-avatar m-auto">
            </div>

            <div class="col-1 d-flex align-items-start flex-column  text-center p-1">
              <img class="box-mail-notification m-auto" src="assets/image/icon/icon19.png">
              <span class=" mb-auto m-auto">New</span>
            </div>

            <div class="col-8 d-flex align-items-start flex-column  text-center p-1 ">
              <span class="ml-1 "> Dec 30 2018 - <time>02 hours, 57min </time></span>
              <h6 class="h3 h-75 w-100 pl-2 text-justify "> Hi </h6>
            </div>
            <div class="col-1 d-flex ">
              <img src="assets/image/icon/icon16.png" class="mail-icons m-auto">
            </div>
          </div>

          <div class="row box-mail  p-0 m-0">

            <div class="col-2 d-flex align-items-start flex-column  text-center  p-auto">
              <span class=" mb-auto ">ALEX 6969</span>
              <img src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg"
                   class="box-mail-avatar m-auto">
            </div>

            <div class="col-1 d-flex align-items-start flex-column  text-center p-1">
              <img class="box-mail-notification m-auto" src="assets/image/icon/icon19.png">
              <span class=" mb-auto m-auto">New</span>
            </div>

            <div class="col-8 d-flex align-items-start flex-column  text-center p-1 ">
              <span class="ml-1 "> Dec 30 2018 - <time>02 hours, 57min </time></span>
              <h6 class="h3 h-75 w-100 pl-2 text-justify "> Hi </h6>
            </div>
            <div class="col-1 d-flex ">
              <img src="assets/image/icon/icon16.png" class="mail-icons m-auto">
            </div>
          </div>

          <div class="row box-mail  p-0 m-0">

            <div class="col-2 d-flex align-items-start flex-column  text-center  p-auto">
              <span class=" mb-auto ">ALEX 6969</span>
              <img src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg"
                   class="box-mail-avatar m-auto">
            </div>

            <div class="col-1 d-flex align-items-start flex-column  text-center p-1">
              <img class="box-mail-notification m-auto" src="assets/image/icon/icon19.png">
              <span class=" mb-auto m-auto">New</span>
            </div>

            <div class="col-8 d-flex align-items-start flex-column  text-center p-1 ">
              <span class="ml-1 "> Dec 30 2018 - <time>02 hours, 57min </time></span>
              <h6 class="h3 h-75 w-100 pl-2 text-justify "> Hi </h6>
            </div>
            <div class="col-1 d-flex ">
              <img src="assets/image/icon/icon16.png" class="mail-icons m-auto">
            </div>
          </div>

          <div class="row box-mail  p-0 m-0">

            <div class="col-2 d-flex align-items-start flex-column  text-center  p-auto">
              <span class=" mb-auto ">ALEX 6969</span>
              <img src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg"
                   class="box-mail-avatar m-auto">
            </div>

            <div class="col-1 d-flex align-items-start flex-column  text-center p-1">
              <img class="box-mail-notification m-auto" src="assets/image/icon/icon19.png">
              <span class=" mb-auto m-auto">New</span>
            </div>

            <div class="col-8 d-flex align-items-start flex-column  text-center p-1 ">
              <span class="ml-1 "> Dec 30 2018 - <time>02 hours, 57min </time></span>
              <h6 class="h3 h-75 w-100 pl-2 text-justify "> Hi </h6>
            </div>
            <div class="col-1 d-flex ">
              <img src="assets/image/icon/icon16.png" class="mail-icons m-auto">
            </div>
          </div>

          <div class="row box-mail  p-0 m-0">

            <div class="col-2 d-flex align-items-start flex-column  text-center  p-auto">
              <span class=" mb-auto ">ALEX 6969</span>
              <img src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg"
                   class="box-mail-avatar m-auto">
            </div>

            <div class="col-1 d-flex align-items-start flex-column  text-center p-1">
              <img class="box-mail-notification m-auto" src="assets/image/icon/icon19.png">
              <span class=" mb-auto m-auto">New</span>
            </div>

            <div class="col-8 d-flex align-items-start flex-column  text-center p-1 ">
              <span class="ml-1 "> Dec 30 2018 - <time>02 hours, 57min </time></span>
              <h6 class="h3 h-75 w-100 pl-2 text-justify "> Hi </h6>
            </div>
            <div class="col-1 d-flex ">
              <img src="assets/image/icon/icon16.png" class="mail-icons m-auto">
            </div>
          </div>

          <!-- column mail -->

        </div>

      </section>

    </main>


  </div>
</div>
