.body-width {
  max-width: 100vw;
}

@media (max-width: 575.98px) {

  main {
    border-top: 2px solid white;
    color: white;
  }

  .body-width {
    background-color: black;
  }

  /* navbar */
  .navBar {

  }

  /* navbar */
  /*mail-container*/
  .mail-content {
    max-height: 50em; /* review */
    max-width: 100vw;
  }

  /*box-content*/
  .box-content {
    background-color: rgb(22, 27, 31);
    width: 100vw !important;
  }

  /*nav-lateral*/
  .nav-lateral {
    background-color: rgb(40, 50, 54);
    display: none;
  }

  /*nav-lateral*/
  /*Messages*/
  /*box-content*/
  .box-content {
    background-color: rgb(22, 27, 31);
    overflow: scroll;
    max-height: 50em; /* review */
  }

  /*box-mail*/
}

@media (min-width: 576px) and (max-width: 767.98px) {

  main {
    border-top: 2px solid white;
    color: white;
  }

  .body-width {
    background-color: black;
  }

  /*mail-container*/
  .mail-content {
    max-height: 50em; /* review */
  }

  /*nav-lateral*/
  .nav-lateral {
    background-color: rgb(40, 50, 54);
  }

  /*nav-lateral*/
  /*Messages*/
  /*box-content*/
  .box-content {
    background-color: rgb(22, 27, 31);
    width: 100vw !important;
  }

  /*box-mail*/

}

@media (min-width: 768px) and (max-width: 991.98px) {

  main {
    border-top: 2px solid white;
    color: white;
  }

  /*mail-container*/
  .mail-content {
    max-height: 50em; /* review */
  }

  /*nav-lateral*/
  .nav-lateral {
    background-color: rgb(40, 50, 54);
  }

  /*nav-lateral*/
  /*Messages*/
  /*box-content*/
  .box-content {
    background-color: rgb(22, 27, 31);
    width: 100vw !important;
  }

  /*box-mail*/
}

@media (min-width: 992px) and (max-width: 1199.98px) {

  main {
    border-top: 2px solid white;
    color: white;
  }

  /*mail-container*/
  .mail-content {
    max-height: 50em; /* review */
  }

  /*nav-lateral*/
  .nav-lateral {
    background-color: rgb(40, 50, 54);
  }

  /*nav-lateral*/
  /*Messages*/
  /*box-content*/
  .box-content {
    background-color: rgb(22, 27, 31);
    width: 100vw !important;
  }

  /*box-mail*/

}

@media (min-width: 1200px) {

  main {
    border-top: 2px solid white;
    color: white;
  }

  /*mail-container*/
  .mail-content {
    max-height: 50em; /* review */
  }

  /*nav-lateral*/
  .nav-lateral {
    background-color: rgb(40, 50, 54);
  }

  /*nav-lateral*/
  /*Messages*/
  /*box-content*/
  .box-content {
    background-color: rgb(22, 27, 31);

    width: 100vw !important;
  }

  /*box-mail*/

}
