<div class="body-back-reltype">
  <div class="body-width container">
    <div class="sticky-top">
      <app-sign-in-header></app-sign-in-header>
    </div>


    <main class="row">
      <section>
        <div class="row p-1 mb-3" id="type-rel">
          <div class="col-md-1 ">
            <img src="assets/image/LF31.jpg" class="genImg rounded float-left">
          </div>
          <div class="col-md-10 d-flex flex-column text-center p-3 ">
            <p class="text-uppercase h4">Attached Male seeking females</p>
            <p class="h6 text-center">Attached males are seeking the ideal female who values discretion and can explore
              their<br>
              every fantasy and desire. </p>
          </div>
          <div class="col-md-1 ">
            <img src="assets/image/LF32.jpg" class="genImg rounded float-right">
          </div>
        </div>

        <div class=" p-1 d-flex flex-column" id="select-pic-men">
          <p class="h6 p-1">Upload your picture to make your profile more personal or choose from one of our
            default Avatar pictures.</p>
          <div class="d-flex justify-content-end align-items-center">
            <p class="mt-2 h6">To Upload Photo: </p>
            <button type="button" class="btn btn-outline-light m-2 h6">Upload Photo</button>

          </div>

        </div>

        <div class="row p-2 pl-4 d-flex flex-column">
          <p class=" text-uppercase h4">
            Avatars</p>
          <p class=" h6">Click the Avatar of your
            choice to set as your profile picture:
        </div>

        <div class="row d-flex justify-content-around content-avatar">

          <img src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-1.jpg"
               class="img-thumbnail avatar" alt="avatar">
          <img src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-2.jpg"
               class="img-thumbnail avatar" alt="avatar">
          <img src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg"
               class="img-thumbnail avatar" alt="avatar">
          <img src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-4.jpg"
               class="img-thumbnail avatar" alt="avatar">
          <img src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-5.jpg"
               class="img-thumbnail avatar" alt="avatar">


        </div>
      </section>

    </main>


    <app-sign-in-footer></app-sign-in-footer>


  </div>
</div>

<!--<app-view></app-view>
<hr>
<app-read></app-read>
<hr>
<app-create></app-create>
<hr>
<app-update></app-update>-->
