<div class="body-back" id="overlay-country">
  <div class="body-width" id="popup-country">
    <div class="text-right">
      <a href="" id="btn-close-popup-country" class="btn-close-popup-country">x</a>
    </div>


    <div class="form-group">
      <h3 class="text-center">Select your Country</h3>
    </div>

    <form action="">
      <ul class="contenedor-inputs d-flex flex-wrap p-auto m-0">

        <li><img src="assets/flags/blank.gif" class="flag flag-us" alt="USA"><a href="#">USA</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-ca" alt="Canada"><a href="#">Canada</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-gb" alt="United Kingdom"><a href="#">United Kingdo</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-ie" alt="Ireland"><a href="#">Ireland</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-au" alt="Australia"><a href="#">Australia</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-nz" alt="New Zealand"><a href="#">New Zealand</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-de" alt="Deutschland"><a href="#">Deutschland</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-ar" alt="Österreich"><a href="#">Österreich</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-ch" alt="Schweiz"><a href="#">Schweiz</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-ar" alt="Sverige"><a href="#">Sverige</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-es" alt="España"><a href="#">España</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-ar" alt="Danmark"><a href="#">Danmark</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-ar" alt="Suomi"><a href="#">Suomi</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-ar" alt="Norge"><a href="#">Norge</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-br" alt="Brasil"><a href="#">Brasil</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-it" alt="Italia"><a href="#">Italia</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-mx" alt="México"><a href="#">México</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-ar" alt="Nederland"><a href="#">Nederland</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-ar" alt="Argentina"><a href="#">Argentina</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-co" alt="Colombia"><a href="#">Colombia</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-cl" alt="Chile"><a href="#">Chile</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-ve" alt="Venezuela"><a href="#">Venezuela</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-za" alt="South Africa"><a href="#">South Africa</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-fr" alt="France"><a href="#">France</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-be" alt="Belgique"><a href="#">Belgique</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-ar" alt="Ελλάδα"><a href="#">Ελλάδα</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-jp" alt="日本"><a href="#">日本</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-in" alt="India"><a href="#">India</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-pt" alt="Portugal"><a href="#">Portugal</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-ar" alt="香港"><a href="#">香港</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-ar" alt="台灣"><a href="#">台灣</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-ar" alt="新加坡"><a href="#">新加坡</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-ar" alt="Perú"><a href="#">Perú</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-ar" alt="Luxembourg"><a href="#">Luxembourg</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-il" alt="שראל"><a href="#">שראל</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-kr" alt="한국"><a href="#">한국</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-ar" alt="澳門"><a href="#">澳門</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-ar" alt="Slovensko"><a href="#">Slovensko</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-pl" alt="Polska"><a href="#">Polska</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-ar" alt="Magyarország"><a href="#">Magyarország</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-cz" alt="Czech Republic"/><a href="#">Česká republika</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-tr" alt="Türkiye"><a href="#">Türkiye</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-cn" alt="中国"><a href="#">中国</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-pk" alt="Pakistan"><a href="#">Pakistan</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-ph" alt="Pilipinas"><a href="#">Pilipinas</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-ar" alt="ประเทศไทย"><a href="#">ประเทศไทย</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-ar" alt="Россия"><a href="#">Россия</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-ar" alt="Україна"><a href="#">Україна</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-ar" alt="Latvia"><a href="#">Latvia</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-ar" alt="Казахстан"><a href="#">Казахстан</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-ar" alt="Беларусь"><a href="#">Беларусь</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-ee" alt="Estonia"><a href="#">Estonia</a></li>
        <li><img src="assets/flags/blank.gif" class="flag flag-ar" alt="Crimea"><a href="#">Crimea</a></li>

        <!-- <in id="country-list"put type="submit" class="btn-submit" value="Country"> -->
      </ul>
    </form>
  </div>
</div>
<!-- popup country -->
