/*nav-lateral*/
.nav-lateral{
  background-color: rgb(40,50,54);
  font-size: 1rem;
}
button{
  display: flex;
  flex-direction: initial;
}
button i {
  margin-right: 0.3rem;
}
.btn-nav-lat {
  background-color: rgb(40, 50, 54);
  border-color: rgb(40, 50, 54);
  color: white;
  text-align: left;
}

.btn-nav-lat:hover{
  text-decoration-line: underline;
}


/*nav-lateral*/
