<div class="">
  <div class=" p-1 ">
    <h2>La Femme</h2>
  </div>

  <button type="button" class="btn btn-secondary  btn-block btn-nav-lat"><img
    src="assets/image/icon/icon1-1.png">Mail Box <span class="badge badge-light">9</span>
    <span class="sr-only">unread messages</span></button>
  <button type="button" class="btn btn-secondary  btn-block btn-nav-lat"><img
    src="assets/image/icon/icon12.png">Search
  </button>
  <button type="button" class="btn btn-secondary  btn-block btn-nav-lat"><img
    src="assets/image/icon/icon20.png">Contacts
  </button>
  <button type="button" class="btn btn-secondary  btn-block btn-nav-lat"><img
    src="assets/image/icon/icon4-1.png">View Me
  </button>
  <button routerLink="/manageProfilr" type="button" class="btn btn-secondary  btn-block btn-nav-lat"><img
    src="assets/image/icon/icon14.png">Manage Profile
  </button>
  <button routerLink="/profile" type="button" class="btn btn-secondary  btn-block btn-nav-lat"><img
    src="assets/image/icon/icon4-1.png">View Profile
  </button>
  <button type="button" class="btn btn-secondary  btn-block btn-nav-lat"><img
    src="assets/image/icon/icon2-1.png">Likes Inbox
  </button>
  <button routerLink="/creditPlan" type="button" class="btn btn-secondary  btn-block btn-nav-lat"><img
    src="assets/image/icon/icon21.png">Buy Credits
  </button>
  <button type="button" class="btn btn-secondary  btn-block btn-nav-lat"><img
    src="assets/image/icon/icon9-1.png">My Travel Plans
  </button>
  <button routerLink="/affiliateProgram" type="button" class="btn btn-secondary  btn-block btn-nav-lat"><img
    src="assets/image/icon/icon22.png">Affiliate's Program
  </button>
  <div class="input-group mb-3 justify-content-end ">
    <div class="d-flex flex-column">
      <button type="button" class="btn btn-secondary  btn-nav-lat">
        Virtual Office
      </button>
      <button type="button" class="btn btn-secondary  btn-nav-lat">
        LogOut
      </button>
    </div>
  </div>
  <div class="input-group mb-3 ">
    <div class="d-flex flex-column m-3">


      <div class="form-group form-check ">
        <input type="radio" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Sent Mail History</label>
      </div>
      <div class="form-group form-check">
        <input type="radio" class="form-check-input" id="exampleCheck2">
        <label class="form-check-label" for="exampleCheck2">Recived Mail History</label>
      </div>
      <div class="form-group form-check">
        <input type="radio" class="form-check-input" id="exampleCheck3">
        <label class="form-check-label" for="exampleCheck3">All Mail History</label>
      </div>
    </div>
  </div>
</div>
