<div class="">


  <button type="button" class="btn btn-secondary  btn-block btn-nav-lat">
    <i class="material-icons">
      mail_outline
    </i>
    Mail Box <span class="badge badge-light">9</span>
    <span class="sr-only">unread messages</span></button>
  <button type="button" class="btn btn-secondary  btn-block btn-nav-lat">
    <i class="material-icons">search</i> Search
  </button>

  <button type="button" class="btn btn-secondary  btn-block btn-nav-lat">
    <i class="material-icons">
      account_circle
    </i>Contacts
  </button>

  <button routerLink="/manageProfilr" type="button" class="btn btn-secondary  btn-block btn-nav-lat">
    <i class="material-icons">
      settings
    </i>Manage Profile
  </button>

  <button routerLink="/profile" type="button" class="btn btn-secondary  btn-block btn-nav-lat">
    <i class="material-icons">
      visibility
    </i>View Profile
  </button>

  <button type="button" class="btn btn-secondary  btn-block btn-nav-lat">
    <i class="material-icons">
      favorite_border
    </i>Likes Inbox
  </button>

  <button routerLink="/creditPlan" type="button" class="btn btn-secondary  btn-block btn-nav-lat">
    <i class="material-icons">
      credit_card
    </i>
    Buy Credits
  </button>

  <button type="button" class="btn btn-secondary  btn-block btn-nav-lat">
    <i class="material-icons">
      airplanemode_active
    </i>My Travel Plans
  </button>

  <button routerLink="/affiliateProgram" type="button" class="btn btn-secondary  btn-block btn-nav-lat">
    <i class="material-icons">
      card_membership
    </i>Affiliate's Program
  </button>

  <div class="input-group mb-3 justify-content-end ">
    <div class="d-flex flex-column">
      <button type="button" class="btn btn-secondary  btn-nav-lat">
        <i class="material-icons">
          work_outline
        </i>
        Virtual Office
      </button>
      <button type="button" class="btn btn-secondary  btn-nav-lat">
        <i class="material-icons">
          exit_to_app
        </i>
        LogOut
      </button>
    </div>
  </div>
  <div class="input-group mb-3 ">
    <div class="d-flex flex-column m-3">


      <div class="form-group form-check ">
        <input type="radio" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Sent Mail History</label>
      </div>
      <div class="form-group form-check">
        <input type="radio" class="form-check-input" id="exampleCheck2">
        <label class="form-check-label" for="exampleCheck2">Recived Mail History</label>
      </div>
      <div class="form-group form-check">
        <input type="radio" class="form-check-input" id="exampleCheck3">
        <label class="form-check-label" for="exampleCheck3">All Mail History</label>
      </div>
    </div>
  </div>
</div>
