@media (max-width: 575.98px) {
  /* header "AboutUs"*/
  .px1200 {
    display: none !important;
  }

  .px575 {
    background-color: black;
    color: white;
  }

  .px575 h4 {
    font-family: 'Futura Md BT', Tahoma, Geneva, Verdana, sans-serif;

  }

  /* header "AboutUs"*/
}


@media (min-width: 576px) and (max-width: 767.98px) {
  /* header "AboutUs"*/
  .px1200 {
    display: none !important;
  }

  .px575 {
    background-color: black;
    color: white;
  }

  .px575 h4 {
    font-family: 'Futura Md BT', Tahoma, Geneva, Verdana, sans-serif;

  }

  /* header "AboutUs"*/
}


@media (min-width: 768px) and (max-width: 991.98px) {
  /* header "AboutUs"*/
  #header, header {
    background-color: black;
    color: white;
    height: 10rem;
    font-size: 1rem;
  }

  header img {
    height: 8rem;
  }

  header a, header li, header a:hover, span {
    font-size: 0.7rem;
    color: white;
  }

  .last {
    display: none;
  }

  /* logo */
  #sub-img, .last li, .last a {
    display: none;
  }

  #logo-text {
    position: absolute;
    left: 11rem;
    top: 4.5rem;
  }


  .px575 {
    display: none;
  }

  /* header "AboutUs"*/
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  /* header "AboutUs"*/
  #header, header {
    background-color: black;
    color: white;
    height: 10rem;
    font-size: 1rem;

  }

  header img {
    height: 8rem;
  }

  header a, header li, header a:hover, span {
    font-size: 0.7rem;
    color: white;
  }

  /* logo */
  #sub-img {
    height: 4rem;

  }

  #logo-text {
    position: absolute;
    left: 11rem;
    top: 4.5rem;
  }

  .px575 {
    display: none;
  }

  /* header "AboutUs"*/
}


@media (min-width: 1200px) {
  /* header "AboutUs"*/
  #header, header {
    background-color: black;
    color: white;
    height: 10rem;
    font-size: 1rem;
  }


  header img {
    height: 8rem;
  }

  header a, header li, header a:hover, span {
    font-size: 0.7rem;
    color: white;
  }

  /* logo */
  #sub-img {
    height: 4rem;

  }

  #logo-text {
    position: absolute;
    left: 11rem;
    top: 4.5rem;
  }

  .px575 {
    display: none;
  }

  /* header "AboutUs"*/
}
