<header class="row d-flex justify-content-around px1200">
  <div class="col-md-5 first-column">
    <img src="assets/image/LF289.png" class="rounded float-left">
    <p class="h6 font-italic" id="logo-text"> Fantasies.......<br>Everybody has One!</p>
  </div>


  <div class="col-md-5 p-3 second-column" >
    <p class="text-left font-italic"> You’re rewarded for your marketing efforts.<br>
      Join La Femme’s Affiliate Program and<br>
      Start earning money today!</p>
  </div>
  <div class="col-md-2 p-1 dflex flex-column third-column">
    <button class="btn btn-sm btn-outline-light "><a routerLink="/home">Back</a></button>
    <li class="p-1"><a routerLink="/datingLafemme">Dating at La Femme</a></li>
    <li class="p-1"><a routerLink="/affiliateProgram">Affiliate Program</a></li>
    <img id="sub-img" class="text-center" src="assets/image/LF33.png" alt="">

  </div>
  <p class="text-center float">Want to make extra money? Here is an opportunity, let's get with. Time is
    Money.</p>
</header>

<header class="row px575">


  <div class="col-12 text-center ">
    <h4> LA FEMME </h4>
    <h6> AFFILIATE PROGRAM </h6>
  </div>

</header>
