<header class="container-fluid px1200">
  <div class="d-flex justify-content-start h-100">
    <div class="col-7 text-center title">
      <h2>LA FEMME</h2>
      <h6 class="text-center">Enjoy every moment of your life</h6>
      <img src="assets/image/LF01.jpg">
    </div>

    <div class="d-flex flex-column secret ">
      <p class="mt-auto"></p>
      <h3 class="font-italic">Shhhh...</h3>
      <h6>It's A Secrete</h6>
      <h6> Don't Tell</h6>
    </div>
  </div>


</header>

<header class="row px575">


  <div class="col-12 text-center ">
    <h4> LA FEMME </h4>
    <h6> CREDIT PLAN </h6>
  </div>

</header>
