<header class="container-fluid position-relative ">
  <div class="home-back">
    <div class="row d-flex justify-content-between ">
      <h1 class="mt-5">LA FEMME</h1>
      <div class="d-flex flex-column mr-5">
        <p class="text-center">MEMBERS<br>ONLY</p>
        <button routerLink="login" id="btn-login" type="button" class="btn btn-md btn-outline-light btn-pink">Login
        </button>

      </div>
    </div>

    <div class="row d-flex flex-column ">
      <h4 class="font-italic" id="tulm">Fantasies... Everybody has one</h4>
    </div>

    <div class="row d-flex flex-column">
      <p class=" h5 ml-5 pl-5 text-left">Become a member, select the type of relationship <br> you're looking for.
      </p>
      <p class="ml-5 h5 pl-5">Let's get started </p>
    </div>
    <div class="row middle-header">
      <div class="col-md-4 text-center m-0">
        <a routerLink="memberSignIn" id="btn-signup" class="btn btn-primary btn-lg active" role="button"
           aria-pressed="true">SELECT YOUR MATCH</a>

        <p class="text-center h3 mt-3 mb-3">Sign Up - Is FREE</p>

        <img src="assets/image/LF05.png" id="imgh2" alt="..." class="m-0">

        <p class="h5">Private Affairs Club</p>
      </div>

      <div class="col-5 d-flex flex-column ">
        <span class="mb-auto p-2 "></span>
        <span class="h1 font-italic ml-3 align-self-center"> Shhhh...</span>
        <span class="h5 font-italic mr-4 align-self-center">It's a Secret</span>
        <span class="h5 font-italic mr-5 align-self-center"> Don't Tell</span>
      </div>
    </div>


    <div class="row">
      <p class="text-left col-9 ml-5 pl-5 ">Desire, Passion and Excitement is like
        TIME... Time is like a RIVER. You cannot touch the same water TWICE, <br> because the flow that
        has passed will never pass again... Enjoy every moment of your life.</p>
      <div class="col-3">

      </div>
    </div>
    <footer class="row">
      <div class="col-5 d-flex justify-content-around align-items-center">
        <a class="ml-3" routerLink="/datingLafemme">Dating at La femme</a>
        <a routerLink="/affiliateProgram"> Affiliate</a>
        <a routerLink="/aboutUs"> About Us</a>
      </div>

      <div class="col-4 d-flex align-items-center justify-content-between">
        <a><img class="bttn-img" src="https://lafemme1.com/uploads/googleplay.png" alt="image"></a>
        <a><img class="bttn-img" src="https://lafemme1.com/uploads/applestore.png" alt="image"></a>
        <a><img class="bttn-img" src="assets/image/PRIVACY.png" alt="image"></a>
      </div>

      <div class="col-3 ">
        <div class="row d-flex justify-content-around m-0">
          <button routerLink="/selectLanguage" id="btn-language"
                  class="btn btn-md btn-outline-light btn-language btn-pink d-flex align-items-center">
            Language
          </button>
          <button routerLink="/selectCountry" id="btn-country"
                  class="btn btn-md btn-outline-light btn-language d-flex align-items-center"><img
            class="d-flex align-items-center" src="https://lafemme1.com/uploads/usa.png" alt="image">USA
          </button>
        </div>
        <br>
        <span class=" m-0 row d-flex justify-content-center align-items-end">2019 La femme1 - Official
                    website</span>
      </div>
    </footer>
  </div>


  <div class="home-back-responsive">
    <h1 class="text-center">LA FEMME</h1>
    <h4 class="text-center" id="tulm-responsive">Fantasies... Everybody has one</h4>
    <div class="text-center">
      <img src="assets/image/LF02.jpg" alt="image" id="mainImage">

    </div>

    <div>
      <button routerLink="login" id="btn-login-responsive" class="btn btn-primary btn-lg active btn-block">
        Login
      </button>
    </div>
    <div>
      <button routerLink="memberSignIn" id="btn-signup-responsive" class="btn btn-primary btn-lg active btn-block">
        Select your Match
      </button>
    </div>

    <button routerLink="/selectLanguage" id="btn-language-responsive"
            class="btn btn-primary btn-lg active">
      Language
    </button>
    <button routerLink="/selectCountry" id="btn-country-responsive" class="btn btn-primary btn-lg active">
      USA
    </button>
    <div class="text-center">
      <span>2019 La femme1 - Official website</span>
    </div>

  </div>


  <div class="home-back-responsive-medium m-0 p-0">
    <div class="content1 container-fluid">
      <img src="assets/image/LF02.jpg" id="mainImage2" alt="image" class="h-100">
      <div class="content2 container-fluid">
        <div class="row d-flex justify-content-between ">
          <div>
            <h1 class="mt-5">LA FEMME</h1>
            <h4 id="tulm-responsive-medium">Fantasies... Everybody has one</h4>
          </div>
          <div class="d-flex flex-column mr-5">
            <p class="text-center">MEMBERS<br>ONLY</p>
            <button routerLink="login" id="btn-login-responsive-medium" type="button"
                    class="btn btn-md btn-outline-light btn-pink">Login
            </button>

          </div>
        </div>

        <div class="text-left">
          <p class="">Become a member, select the type of relationship <br> you're looking for.
          </p>
          <p class="">Let's get started </p>
        </div>
        <div class="row middle-header">
          <div class="col-md-4 text-center m-0">
            <a routerLink="memberSignIn" id="btn-signup-responsive-medium" class="btn btn-primary btn-lg active"
               role="button"
               aria-pressed="true">SELECT YOUR MATCH</a>

            <p class="text-center h3 mt-3 mb-3">Sign Up - Is FREE</p>

            <img src="assets/image/LF05.png" id="imgh2-responsive-medium" alt="..." class="m-0">

            <p class="h5">Private Affairs Club</p>
          </div>

          <div class="col-5 d-flex flex-column ">
            <span class="mb-auto p-2 "></span>
            <span class="h1 font-italic ml-3 align-self-center"> Shhhh...</span>
            <span class="h5 font-italic mr-4 align-self-center">It's a Secret</span>
            <span class="h5 font-italic mr-5 align-self-center"> Don't Tell</span>
          </div>
        </div>


        <div class="row">
          <p class="text-left ml-3">Desire, Passion and Excitement is like
            TIME... Time is like a RIVER. You cannot touch the same water TWICE, <br> because the flow that
            has passed will never pass again... Enjoy every moment of your life.
          </p>

        </div>
        <footer class="row  d-flex justify-content-between ">
          <div class=" col-4 m-0 p-0 d-flex justify-content-around align-items-center ">
            <a routerLink="/datingLafemme">Dating at La femme|</a>
            <a routerLink="/affiliateProgram"> Affiliate|</a>
            <a routerLink="/aboutUs"> About Us</a>
          </div>

          <div class="col-5 m-0 p-0  d-flex align-items-center justify-content-between">
            <a><img class="app-button" src="https://lafemme1.com/uploads/googleplay.png" alt="image"></a>
            <a><img class="app-button" src="https://lafemme1.com/uploads/applestore.png" alt="image"></a>
            <a><img class="app-button" src="assets/image/PRIVACY.png" alt="image"></a>
          </div>

          <div class="col-2 m-0 p-0  d-flex align-items-center justify-content-between">
            <button routerLink="/selectLanguage" id="btn-language-responsive-medium"
                    class="m-0 btn btn-md btn-outline-light ">
              Language
            </button>
            <button routerLink="/selectCountry" id="btn-country-responsive-medium"
                    class="btn btn-md btn-outline-light ">USA
            </button>
          </div>

        </footer>
        <div class="copyright text-right">
          <span>2019 La femme1 - Official website</span>
        </div>
      </div>

    </div>


  </div>
</header>


<main class="container-fluid mt-2">
  <section class="container-fluid section-1">
    <div class="container text-center">
      <button type="button" class="button1">PRIVATE AFFAIR CLUB</button>
      <p class="blue text-center"><a href="https://lafemme1.com"> Www.LaFemme1.com</a></p>
      <p class="blue text-center">Adults Only Please, You Must Be 18 Years or Older. This Site
        is For Adults ONLY</p>
    </div>
    <div class="row d-flex justify-content-between">
      <img src="assets/image/LF03.jpg" alt="" class="medium-pic deleteTablet">
      <img src="assets/image/LF04.jpg" alt="" class="medium-pic">
      <img src="assets/image/LF05.jpg" alt="" class="medium-pic">
      <img src="assets/image/LF06.jpg" alt="" class="medium-pic deleteTablet">
    </div>
    <h2 class="text-center h1 pt-3 pb-5">Welcome to La Femme</h2>
  </section>

  <section class="section-2 p-1">
    <div class="text-center">
      <button type="button" class="button1">MEN &amp; WOMEN FROM AROUND THE WORLD</button>
    </div>

    <div class="row container-fluid ml-0 d-flex justify-content-around p-0 big-pic">

      <div class=" ">
        <img src="assets/image/LF63.png" alt="" class="big-pic m-0 p-0 ">
      </div>
      <div class=" ">
        <div class="d-flex justify-content-between ">
          <img src="assets/image/LF08.jpg" alt="" class="small-pic ml-3 mr-3 deleteTablet">
          <img src="assets/image/LF09.jpg" alt="" class="small-pic ml-3 mr-3">
          <img src="assets/image/LF10.jpg" alt="" class="small-pic ml-3 mr-3 deleteTablet">
        </div>


        <div class="d-flex justify-content-between mt-5 ">
          <img src="assets/image/LF12.jpg" alt="" class="small-pic2 ml-3 mr-3 mt-3 deleteTablet">
          <img src="assets/image/LF13.jpg" alt="" class="small-pic2 ml-3 mr-3 mt-3">
          <img src="assets/image/LF64.jpg" alt="" class="small-pic2 ml-3 mr-3 mt-3 deleteTablet">
        </div>
      </div>
      <div class="">
        <img src="assets/image/LF62.png" alt="" class="big-pic ">
      </div>

    </div>

  </section>


  <section class="container-fluid section-1">
    <div class="text-center">
      <button type="button" class="button1">DISCOVER YOUR FANTASIES</button>
    </div>
    <div class="">
      <div class="row d-flex justify-content-start">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" id="secImageSmall">
        </div>

        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p>La Femme is the place to meet men and women who are seeking for the Ideal Partner who
            knows the value of Discretion of an intelligent individual who wants to share his or
            her time with you. </p>

          <p> Soon you will be having fun at La Femme! To help you, we are giving you 200 Coins
            credits to get you started. These are credits for you to use to start communicating
            with others. </p>

          <p>At La Femme you will find thousands of people like yourself looking for discreet
            relationships of all kinds. Most relationship options you can find them here.
            Choose the one you desire most!

          </p>
          <p>Secret desires ignite the circuits of our highest potential to enjoy our lives.
            Life is too short, you should enjoy every moment of it. </p>
          <p>Through La Femme you’ll be connected to the type of relationship you looking for, meet and
            live your FANTASY; with DESIRE, PASSION and EXCITEMENT!
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid section-3 ">

    <div class=" m-0 p-0">
      <img src="assets/image/LF65.png" class="rounded mt-2 deleteTablet" alt="Responsive image">
    </div>
    <div class="col-6 ">
      <p class="h6 p-2 ">La Femme
        membership is GREAT for your INTIMATE FANTASIES</p>
      <p class="text-center">This is how is GREAT for you.</p>
      <div class="row ">

        <div class="col-6">
          <ul>
            <li> 1. Helps Keep Your Immune System Humming
            </li>
            "Sexually active people take fewer sick days"
            <li>2. Boosts Your Libido</li>
            Longing for a more lively sex life? "Having sex will make sex better and will improve your libido"
            <li>3. Improves Women's Bladder Control</li>
            <li>4. Lowers Your Blood Pressure</li>
            <li>5.Counts as Exercise</li>
            "Sex is a great form of exercise"
            <li>6.Lowers Heart Attack Risk</li>
            A good sex life is good for your heart. Beside being a great way to raise your heart rate, sex helps keep your estrogen and testosterone levels in balance.
          </ul>
        </div>
        <div class="col-6">
          <ul>
            <li>7. Lessens Pain</li>Before you reach for an aspirin, try for an orgasm.
            <li>8. May Make Prostate Cancer Less Likely</li>Going for the gusto may help ward off prostate cancer.
            <li>9. Improve Sleep</li>You may nod off more quickly after sex and for good. reason
            <li>10. Eases Stress</li>
            Being close to your partner can soothe stress and anxiety.
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid section-3-responsive ">

    <div class="col-12  ">
      <p class="h6 p-2 ">La Femme
        membership is GREAT for your INTIMATE FANTASIES</p>
      <p class="text-center">This is how is GREAT for you.</p>
      <div class="row ">

        <div class="col-6 ">
          <ul class="m-0 p-0">
            <li> 1. Helps Keep Your Immune System Humming
            </li>
            "Sexually active people take fewer sick days"
            <li>2. Boosts Your Libido</li>
            Longing for a more lively sex life? "Having sex will make sex better and will improve your libido"
            <li>3. Improves Women's Bladder Control</li>
            <li>4. Lowers Your Blood Pressure</li>
            <li>5.Counts as Exercise</li>
            "Sex is a great form of exercise"
            <li>6.Lowers Heart Attack Risk</li>
            A good sex life is good for your heart. Beside being a great way to raise your heart rate, sex helps keep your estrogen and testosterone levels in balance.
          </ul>
        </div>
        <div class="col-6">
          <ul class="m-0 p-0">
            <li>7. Lessens Pain</li>Before you reach for an aspirin, try for an orgasm.
            <li>8. May Make Prostate Cancer Less Likely</li>Going for the gusto may help ward off prostate cancer.
            <li>9. Improve Sleep</li>You may nod off more quickly after sex and for good. reason
            <li>10. Eases Stress</li>
            Being close to your partner can soothe stress and anxiety.
          </ul>
        </div>
      </div>
    </div>
  </section>

  <div class="container text-center">
    <button type="button" class="button1">SAME-SEX RELATIONSHIPS</button>
  </div>

  <section class="container-fluid">
    <div class="row">
      <p>Looking for same-sex relationships; Females seeking Females or Males seeking Males? You will find
        them all here at La Femme. Discreet partners who want to spend their time with you. You will not
        find any place more open-minded than at La Femme. </p>
    </div>

    <div class="row d-flex justify-content-between">
      <img src="assets/image/LF18.jpg" alt="" class="medium-pic medium-pic-2">
      <img src="assets/image/LF19.jpg" alt="" class="medium-pic deleteTablet">
      <img src="assets/image/LF20.jpg" alt="" class="medium-pic deleteTablet">
      <img src="assets/image/LF21.jpg" alt="" class="medium-pic medium-pic-2">
    </div>

    <div class="row d-flex justify-content-end">
      <button routerLink="/memberSignIn" type="button" class="button1">CLICK HERE NOW TO FIND YOUR RELATIONSHIP AT LA
        FEMME
      </button>
    </div>
  </section>


</main>
