@media (max-width: 575.98px) {
  .home-back, main, .home-back-responsive-medium {
    display: none;
  }

  header {
    padding: 0
  }

  .home-back-responsive {

    background-color: black;
    color: #fff;
    padding: 1rem;
    margin: 0;
  }

  .home-back-responsive h1 {
    font-family: 'Futura Md BT', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    letter-spacing: 1.2rem;

  }

  #tulm-responsive {
    font-style: italic;


  }

  #mainImage {
    width: 80%;

  }

  .btn-block {
    margin-top: 1rem;

  }

  #btn-login-responsive, #btn-signup-responsive {
    background-color: #dc127b;
    border-color: #dc127b;
  }

  #btn-language-responsive, #btn-country-responsive {
    width: 50%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: black;
    border-color: white;
  }

}


@media (min-width: 576px) and (max-width: 767.98px) {
  .home-back, main, .home-back-responsive-medium {
    display: none;
  }

  header {
    padding: 0
  }

  .home-back-responsive {

    background-color: black;
    color: #fff;
    padding: 1rem;
    margin: 0;
  }

  .home-back-responsive h1 {
    font-family: 'Futura Md BT', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    letter-spacing: 2.2rem;

  }

  #tulm-responsive {
    font-style: italic;
    margin-left: -2rem;

  }

  #mainImage {
    width: 80%;

  }

  .btn-block {
    margin-top: 1rem;

  }

  #btn-login-responsive, #btn-signup-responsive {
    background-color: #dc127b;
    border-color: #dc127b;
  }

  #btn-language-responsive, #btn-country-responsive {
    width: 50%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: black;
    border-color: white;
  }
}


@media (min-width: 768px) and (max-width: 991.98px) {

  .home-back-responsive, .home-back {
    display: none !important;
    visibility: hidden !important;
  }

  /* header */
  header {
    height: 100%;
    color: white;
    padding: 0;
    margin: 0;
    background-color: #000;

  }

  .content1 {
    position: relative;
    z-index: 0;
    text-align: right;
  }

  .content2 {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    margin: 1rem;
  }

  .content2 h1 {
    font-family: 'Futura Md BT', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    letter-spacing: 2.2rem;
    padding-left: 0.8rem;

  }

  #tulm-responsive-medium {
    text-align: center;
    padding: 0;
    font-style: italic;
  }


  #imgh2-responsive-medium {
    width: 16rem;
    height: 10rem;

  }

  #btn-signup-responsive-medium {
    font-size: 1rem;
    margin: 0.5rem;
    border-radius: 0.75em;
    background-color: #dc127b;
    border-color: #dc127b;
    width: 310px;
  }

  .home-back-responsive-medium footer {
    width: 100%;
    display: flex;
    align-content: space-between;
  }

  footer a:hover, footer a {
    color: #ffffff;
    font-size: 0.8rem;
  }

  .app-button {
    height: 2rem;
  }

  #btn-language-responsive-medium, #btn-country-responsive-medium {
    width: 5rem;
    font-size: 0.7rem;
    margin-left: 0.2rem;
  }

  .copyright {
    font-size: 0.6rem;
    margin-top: 0.6rem;
    margin-right: 0.6rem;
  }

  /*End Header*/
  main {
    margin: 0;
    padding: 0.5rem;
  }

  .button1 {
    margin: 1.5rem;
    border-radius: 0.75em;
    background-color: #dc127b;
    border-color: #dc127b;
    color: white;
    height: 3rem;
    min-width: 30rem;
  }

  main p, a, h2, .blue a {
    color: darkblue;
  }

  .section-1 {
    background-color: white;
  }

  .section-1 a {
    font-size: 1.5rem;
  }

  .deleteTablet {
    display: none;
  }

  #secImageSmall {
    background-image: url('../../../assets/image/LF15.jpg');
    background-size: cover;
  }

  .section-2 {
    background-color: rgb(246, 244, 244);
  }

  .section-3 {
    display: none;
  }

  .section-3-responsive {
    background-image: url('../../../assets/image/LF61.jpg');
    background-position: left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: black;
    color: rgb(27, 34, 84);
    font-size: 0.8rem;
    margin-top: 2em;
    min-height: 24rem;
    display: flex;
    justify-items: center;
    align-content: initial;
    padding: 0;
  }

  .section-3 p {
    font-size: 1.2rem;
    color: rgb(27, 34, 84);
    margin: 0;

  }

  .section-3-responsive li {
    list-style: none;
  }

  .section-3 img {
    height: 23rem;
  }


  .bttn-img {
    width: 145px;
    height: 40px;
  }

  .big-pic {
    height: 20rem;
    width: auto;
  }

  .small-pic {
    height: 8rem;
    width: 10rem;
  }

  .small-pic2 {
    height: 8rem;
    width: 10rem;
  }

  .medium-pic {
    height: 20rem;
  }

  .medium-pic-2 {
    width: 50%;
    padding: 1rem;
  }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
  .home-back {

    width: 100%;
    height: 105%;
    background-color: black;
    background-size: contain;

    margin: 0;
    padding: 0;
    z-index: -1;
    margin-bottom: auto;
  }

  .home-back-responsive, .home-back-responsive-medium, .section-3-responsive {
    display: none !important;
    visibility: hidden !important;
  }
  .mainImageNormal{
    z-index: -1;
  }
  .contentabsolute{
    z-index: 10;
    position: absolute;
    top: 0;
    margin: 0;
    padding:0;

  }

  /* header */
  header {
    height: 100%;
    color: white;
    padding: 0;
    margin-bottom: 1.5rem;
    border: 1px solid magenta;
  }

  header h1 {
    font-family: 'Futura Md BT', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
    letter-spacing: 30px;
    margin-bottom: 0.1em;
    margin-left: 90px;
  }

  #tulm, .tulm {
    margin-left: 140px;
    margin-bottom: 1em;
  }

  .middle-header {
    height: 340px;
  }

  header p {
    margin: 0.5em 0em 0.5em 0em;
  }

  #btn-login {
    margin-top: 1em;

    border-radius: 0.75em;
    width: 9em;
    height: 35px;
  }

  #imgh2 {
    width: 15rem;

  }

  #btn-signup {
    font-size: 16px;
    margin: 0.5em 0em 0.5em 0em;
    border-radius: 0.75em;
    background-color: #dc127b;
    border-color: #dc127b;
    width: 310px;
  }

  .btn-language {
    height: 2em;
  }

  .btn img {
    height: 1em;
  }

  a img {
    height: 2em;
  }

  footer {
    height: 5rem;

    bottom: 7%;
    width: 100%;

    margin: auto;

  }

  footer .btn {
    height: 2em;
  }

  footer .btn img {
    height: 1em;
  }

  footer a, .section-3 p {
    color: white;
  }

  footer a:hover {
    color: white;
  }

  /*End Header*/
  main{

    border: 1px solid blue;
  }
  .button1 {
    margin: 1.5em 0em 1.5em 0em;
    border-radius: 0.75em;
    background-color: #dc127b;
    border-color: #dc127b;
    color: white;
    height: 3em;
    min-width: 30em;
  }

  main p, a, h2, .blue a {
    color: darkblue;
  }

  .section-1 {
    background-color: white;
  }

  #secImageSmall {
    background-image: url('../../../assets/image/LF15.jpg');
    background-size: cover;
  }

  .section-2 {
    background-color: rgb(246, 244, 244);
  }

  .section-3 {
    background-image: url('../../../assets/image/LF61.jpg');
    background-position: left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: black;
    color: rgb(27, 34, 84);
    font-size: 0.8rem;
    margin-top: 2em;
    min-height: 30rem;
    display: flex;
    justify-items: center;
    align-content: initial;
    padding: 0;
    padding-top: 1rem;
  }

  .section-3 p {
    font-size: 1.2rem;
    color: rgb(27, 34, 84);
    margin: 0;

  }

  .section-3 li {
    list-style: none;
  }

  .section-3 img {
    display: none;
  }

  .bttn-img {
    width: 145px;
    height: 40px;
  }

  .big-pic {
    height: 20rem;
  }

  .small-pic {
    height: 8rem;
  }

  .small-pic2 {
    height: 8rem;
    width: 8rem;
  }

  .medium-pic {
    height: 9.35rem;
  }
}


@media (min-width: 1200px) {
  .home-back {
    position: absolute;
    width: 100%;
    height: 105%;
    background-color: black;
    background-image: url('../../../assets/image/LF02.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;

    margin: 0;
    padding: 0;
    z-index: -1;
    margin-bottom: auto;
  }

  .home-back-responsive, .home-back-responsive-medium, .section-3-responsive {
    display: none !important;
    visibility: hidden !important;
  }

  /* header */
  header {
    height: 50rem;
    color: white;
    padding: 0;
    margin-bottom: 1.5rem;
    border: 1px solid cyan;
  }

  header h1 {
    font-family: 'Futura Md BT', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
    letter-spacing: 30px;
    margin-bottom: 0.1em;
    margin-left: 90px;
  }

  #tulm, .tulm {
    margin-left: 140px;
    margin-bottom: 1.5em;
  }

  .middle-header {
    height: 340px;
  }

  header p {
    margin: 0.5em 0em 0.5em 0em;
  }

  #btn-login {
    margin-top: 1em;

    border-radius: 0.75em;
    width: 9em;
    height: 35px;
  }

  #imgh2 {
    width: 210px;

  }

  #btn-signup {
    font-size: 16px;
    margin: 0.5em 0em 0.5em 0em;
    border-radius: 0.75em;
    background-color: #dc127b;
    border-color: #dc127b;
    width: 310px;
  }

  .btn-language {
    height: 2em;
  }

  .btn img {
    height: 1em;
  }

  a img {
    height: 2em;
  }

  footer {
    height: 5rem;
    position: absolute;
    bottom: 7%;
    width: 100%;

    margin: auto;

  }

  footer .btn {
    height: 2em;
  }

  footer .btn img {
    height: 1em;
  }

  footer a, .section-3 p {
    color: white;
  }

  footer a:hover {
    color: white;
  }

  /*End Header*/
  .button1 {
    margin: 1.5em 0em 1.5em 0em;
    border-radius: 0.75em;
    background-color: #dc127b;
    border-color: #dc127b;
    color: white;
    height: 3em;
    min-width: 30em;
  }

  main p, a, h2, .blue a {
    color: darkblue;
  }

  .section-1 {
    background-color: white;
  }

  #secImageSmall {
    background-image: url('../../../assets/image/LF15.jpg');
    background-size: cover;
  }

  .section-2 {
    background-color: rgb(246, 244, 244);
  }

  .section-3 {
    background-image: url('../../../assets/image/LF61.jpg');
    background-position: left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: black;
    color: rgb(27, 34, 84);
    font-size: 0.8rem;
    margin-top: 2em;
    height: 29rem;
    display: flex;
    justify-items: center;
    align-content: initial;
    padding: 0;
  }

  .section-3 p {
    font-size: 1.2rem;
    color: rgb(27, 34, 84);
    margin: 0;

  }

  .section-3 li {
    list-style: none;
  }

  .section-3 img {
    height: 97%;
    width: 15rem;
  }

  .bttn-img {
    width: 145px;
    height: 40px;
  }

  .big-pic {
    height: 25rem;
  }

  .small-pic {
    height: 10rem;
  }

  .small-pic2 {
    height: 10rem;
    width: 13rem;
  }

  .medium-pic {
    height: 10rem;
  }
}




