<div class="home-back"></div>
<header class="container-fluid position-relative ">

  <div class="row d-flex justify-content-between">
    <h1 class="mt-5">LA FEMME</h1>
    <div class="d-flex flex-column mr-5">
      <p class="text-center">MEMBERS<br>ONLY</p>
      <button routerLink="/login" id="btn-login" type="button" class="btn btn-md btn-outline-light btn-pink">Login
      </button>

    </div>
  </div>
  <div class="row d-flex flex-column">
    <h4 class="font-italic" id="tulm">Fantasies... Everybody has one</h4>
  </div>
  <div class="row d-flex flex-column">
    <p class=" h5 ml-5 pl-5 text-left">Become a member, select the type of relationship <br> you're looking for.
    </p>
    <p class="ml-5 h5 pl-5">Let's get started </p>
  </div>
  <div class="row middle-header">
    <div class="col-md-4 text-center">
      <a routerLink="/memberSignIn" id="btn-signup" class="btn btn-primary btn-lg active" role="button"
         aria-pressed="true">SELECT YOUR MATCH</a>

      <p class="text-center h3 mt-4 mb-4">Sign Up - Is FREE</p>

      <img src="assets/image/LF05.png" id="imgh2" alt="...">

      <p class="h5">Private Affairs Club</p>
    </div>

    <div class="col-5 d-flex flex-column ">
      <span class="mb-auto p-2 "></span>
      <span class="h1 font-italic ml-3 align-self-center"> Shhhh...</span>
      <span class="h5 font-italic mr-4 align-self-center">It's a Secret</span>
      <span class="h5 font-italic mr-5 align-self-center"> Don't Tell</span>
    </div>
  </div>


  <div class="row">
    <p class="text-left col-9 ml-5 pl-5 ">Desire, Passion and Excitement is like
      TIME... Time is like a RIVER. You cannot touch the same water TWICE, <br> because the flow that
      has passed will never pass again... Enjoy every moment of your life.</p>
    <div class="col-3">

    </div>
  </div>
  <footer class="row">
    <div class="col-5 d-flex justify-content-around align-items-center">
      <a class="ml-3" routerLink="/datingLafemme">Dating at La femme</a>
      <a routerLink="/affiliateProgram"> Affiliate</a>
      <a routerLink="/aboutUs"> About Us</a>
    </div>

    <div class="col-4 d-flex align-items-center justify-content-between">
      <a><img class="bttn-img" src="https://lafemme1.com/uploads/googleplay.png" alt="image"></a>
      <a><img class="bttn-img" src="https://lafemme1.com/uploads/applestore.png" alt="image"></a>
      <a><img class="bttn-img" src="assets/image/PRIVACY.png" alt="image"></a>
    </div>

    <div class="col-3">
      <div class="row d-flex justify-content-around">
        <button routerLink="/selectLanguage" id="btn-language"
                class="btn btn-md btn-outline-light btn-language btn-pink d-flex align-items-center">
          Language
        </button>
        <button routerLink="/selectCountry" id="btn-country"
                class="btn btn-md btn-outline-light btn-language d-flex align-items-center"><img
          class="d-flex align-items-center" src="https://lafemme1.com/uploads/usa.png" alt="image">USA
        </button>
      </div>
      <br>
      <span class=" row d-flex justify-content-center align-items-end">2019 La femme1 - Official
                    website</span>
    </div>
  </footer>
</header>
