<div class="body-back">

  <div class="body-width container border">
    <form (submit)="loginUser($event)">
      <h3 class="text-center">Login</h3>
      <div class="form-group">

        <label for="email">email</label>
        <input type="text" class="form-control" id="email" aria-describedby="userHelp"
               placeholder="Insert your email">

      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
      <!--<div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="rememberme">
        <label class="form-check-label" for="rememberme">Remember Me</label>
      </div>-->
      <input type="submit" value="LOGIN" class="btn btn-block btn-primary">
      <div class="form-group form-check text-center">
    <span>
      <!--<a href="#">Lost Login?</a>
      <a routerLink="login/admin">admin</a>-->
    </span>
      </div>

      <div class="form-group form-check text-center">
       <!-- <p>"Captcha"</p>-->
      </div>
    </form>
  </div>

</div>
