<div class="body-back">

  <form class="body-width container p-5">
    <div class="form-group">
      <h3 class="text-center">Login</h3>
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" aria-describedby="userHelp"
             placeholder="user name">

    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="rememberme">
      <label class="form-check-label" for="rememberme">Remember Me</label>
    </div>
    <button routerLink="/home" type="submit" class="btn btn-block btn-primary">LOGIN</button>
    <div class="form-group form-check text-center">
    <span>
      <a href="#">Lost Login?</a>
    </span>
    </div>

    <div class="form-group form-check text-center">
      <p>put captcha</p>
    </div>
  </form>


</div>
