/*Messages*/


@media (max-width: 575.98px) {

  /*box-mail*/
  .box-mail {
    background-color: rgb(30, 35, 40);
    height: 8em;
    color: white;
    font-size: 9px;
    margin-bottom: 0.5rem !important;
    width: 100%;

  }

  .box-mail-avatar {
    width: 2.5em;
    height: 2.5em;
  }

  .box-mail-notification {
    width: 1.5em;
    height: 1.5em;
  }

  .box-mail span, .box-mail time {
    font-size: 11px;

  }

  .box-mail time {
    color: orange;
  }

  .mail-icons {
    width: 1.5em;
    height: 1.5em;
    margin-right: 1em;
  }
}


@media (min-width: 576px) and (max-width: 767.98px) {

  /*box-mail*/
  .box-mail {
    background-color: rgb(30, 35, 40);
    height: 8em;
    color: white;
    font-size: 9px;
    margin-bottom: 0.5rem !important;
    width: 100%;
  }

  .box-mail-avatar {
    width: 2.5em;
    height: 2.5em;
  }

  .box-mail-notification {
    width: 1.5em;
    height: 1.5em;
  }

  .box-mail span, .box-mail time {
    font-size: 11px;

  }

  .box-mail time {
    color: orange;
  }

  .mail-icons {
    width: 1.5em;
    height: 1.5em;
    margin-right: 1em;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {

  /*box-mail*/
  .box-mail {
    background-color: rgb(30, 35, 40);
    height: 8em;
    color: white;
    font-size: 9px;
    margin-bottom: 0.5rem !important;
    width: 100%;
  }

  .box-mail-avatar {
    width: 2.5em;
    height: 2.5em;
  }

  .box-mail-notification {
    width: 1.5em;
    height: 1.5em;
  }

  .box-mail span, .box-mail time {
    font-size: 11px;

  }

  .box-mail time {
    color: orange;
  }

  .mail-icons {
    width: 1.5em;
    height: 1.5em;
    margin-right: 1em;
  }
}


@media (min-width: 992px) and (max-width: 1199.98px) {

  /*box-mail*/
  .box-mail {
    background-color: rgb(30, 35, 40);
    height: 8em;
    color: white;
    font-size: 9px;
    margin-bottom: 0.5rem !important;
    width: 100%;
  }

  .box-mail-avatar {
    width: 2.5em;
    height: 2.5em;
  }

  .box-mail-notification {
    width: 1.5em;
    height: 1.5em;
  }

  .box-mail span, .box-mail time {
    font-size: 11px;

  }

  .box-mail time {
    color: orange;
  }

  .mail-icons {
    width: 1.5em;
    height: 1.5em;
    margin-right: 1em;
  }
}


@media (min-width: 1200px) {

  /*box-mail*/
  .box-mail {
    background-color: rgb(30, 35, 40);
    height: 8em;
    color: white;
    font-size: 9px;
    margin-bottom: 0.5rem !important;
    width: 100%;
  }

  .box-mail-avatar {
    width: 2.5em;
    height: 2.5em;
  }

  .box-mail-notification {
    width: 1.5em;
    height: 1.5em;
  }

  .box-mail span, .box-mail time {
    font-size: 11px;

  }

  .box-mail time {
    color: orange;
  }

  .mail-icons {
    width: 1.5em;
    height: 1.5em;
    margin-right: 1em;
  }
}


