<div class="box-mail row p-0 m-0 ">

  <div class="col-2 d-flex align-items-start flex-column  text-center  p-auto">
    <span class=" mb-auto ">ALEX 6969</span>
    <img src="assets/image/avatar/1. Attached Male Seeking Female-/AVATAR1-3.jpg"
         class="box-mail-avatar m-auto">
  </div>

  <div class="col-1 d-flex align-items-start flex-column align-items-center  p-1">
    <i class="material-icons">
      mail_outline
    </i>
    <span class=" mb-auto m-auto">New</span>
  </div>

  <div class="col-8 d-flex align-items-start flex-column  text-center p-1 ">
    <span class="ml-1 "> Dec 30 2018 - <time>02 hours, 57min </time></span>
    <h6 class="h3 h-75 w-100 pl-2 text-justify "> Hi </h6>
  </div>
  <div class="col-1 d-flex ">
    <i class="material-icons">
      delete_outline
    </i>
  </div>
</div>
